<% provide(:title, "水族館めぐり") %>
<div class="container">
  <div class="row">
    <div class="col-md-12">

  <div class="panel panel-default">
  <div class="panel panel-default panel-info">
    <div class="panel-heading">

  <h1>水族館めぐり</h1>

</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

  <h3>興味タイプ</h3>
  <h3>RI</h3>

</div>
</div>

  <%= image_tag("aquarium_visiting1.jpg", :class => "img-responsive img-thumbnail") %>

<div class="pic_bottom">
  <div class="panel panel-default">
    <div class="panel-body">

      <h3>水族館めぐりとは？</h3>

</div>
</div>
</div>

  <p>
    あなたが子供のころに水族館に行ったことはあるでしょうか？
近年では、海に面していない都市部にも水族館が建設されるようになり、より身近な存在となりました。
  </p>

  <p>
    建物や床面積の規模、飼育数などの様々な数値から見ても、日本の水族館の数は世界トップクラスの充実度です。また、人口あたりの水族館数は世界一と言われており、海に囲まれた国にすむ日本人の魚介類への関心の深さがわかりますね。
  </p>

  <p>
    大きな水槽の中を悠然と泳ぐいきものたちの姿には、大人でも思わず見とれてしまいます。
  </p>

  <p>
    そんな魚の知識と美しさを楽しむ水族館めぐりを紹介させていただきます。
  </p>

  <div class="panel panel-default">
    <div class="panel-body">

      <h3>
        水族館のよいところ
      </h3>

</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

    <h2>
      多様な魅力を持つ種類豊富な水族館
    </h2>

</div>
</div>



  <p>
    水族館はその地域や社会のニーズに合わせて、多様に変化してきました。
  </p>

  <p>
    例えば、大型の生物を入れて置ける大きな水槽が自慢の水族館やイルカやアシカなどの動物とふれあえる水族館、いきものたちのショーやイベントに力を入れている水族館などのように実に多様な水族館があります。
  </p>

  <p>
    実際に訪れる前に、公式サイトなどでその水族館が何を売りにしているのかを調べてから訪れるとより楽しめるでしょう。
  </p>

  <div class="panel panel-default">
    <div class="panel-body">

      <h2>
        一人でも複数でも楽しめる水族館
      </h2>

</div>
</div>

<%= image_tag("aquarium_visiting2.jpg", :class => "img-responsive img-thumbnail") %>

  <p class="pic_bottom">
    水族館はファミリーやカップルでいくものだと考えていませんか？。    もちろん、水族館のロマンチックな雰囲気はカップルにおすすめですし、デートスポットとして有名な水族館は多数存在します。
  </p>


  <p>
    また、家族で水族館で行けば、日常ではけっして見ることができないマグロやサメなどの大きな魚を子供に見せることができますので、子供にとってとても良い経験になるでしょう。
  </p>

  <p>
    しかし、一人で水族館で行けば、複数人で水族館に行くのとは異なる楽しみを見つけることができます。
  </p>

  <p>
    程よく暗い館内はは周りの目を気にすることなく、日々のストレスを癒すためにひとりでゆっくりとした時間を過ごせる素敵な空間です。
  </p>

  <p>
    複数人では、なかなかじっくり見ることのできない魚の解説も、一人であればじっくりと読むことができます。
  </p>

  <div class="panel panel-default">
    <div class="panel-body">

      <h2>
        珍しい生き物たち
      </h2>

</div>
</div>

<p>
  水族館には、イルカやシャチなどのかわいい生物がたくさんいます。

  そういった生き物をかわいがるのもいいですが、水族館には変わった生き物もたくさんいて、何度来ても飽きません。

</p>

<p>
  例えば、ヘンテコな顔をした魚や地面に潜り込んでいる魚などのように珍しい生き物が水族館にはたくさんいるので、何度同じ水族館に行っても楽しむことができるのです。
</p>

<div class="panel panel-default">
  <div class="panel-body">

    <h3>
      水族館めぐりの始め方
    </h3>

</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

    <h2>
      近くの水族館を探してみましょう
    </h2>

</div>
</div>


  <p>
    最近は電車でいける水族館や都市部にも水族館が増えてきて、気軽に足を運びやすくなりました。

     最近できた水族館はおしゃれなカフェスペースや分かりやすく美しい内装などの凝った造りをしているところが多いです。

  </p>

  <p>
    ショーやイベントのスケジュールを確認して行けば、始めていく水族館でも十分に楽しむことができるのでお勧めです。
  </p>

  <div class="panel panel-default">
    <div class="panel-body">

      <h3>
        まとめ
      </h3>

</div>
</div>

    <%= image_tag("aquarium_visiting3.jpg", :class => "img-responsive img-thumbnail") %>

    <p class="pic_bottom">
      水族館は展示している魚を驚かせないために全体的に暗い館内をしています。

      そのため、外と同じ時間が流れているとは思えないくらいゆったりとした時間を過ごすことができます。

    </p>

    <p>
      友達やカップルで楽しく訪れるのもよいですし、一人でじっくり楽しむのもおすすめです。

      週末にこれといった予定がないのでしたら、水族館に訪れてみてはいかがでしょうか？
    </p>
</div>

</div>
</div>
</div>
