<% provide(:title, "天体観測") %>
<div class="container">
  <div class="row">
    <div class="col-md-12">

  <div class="panel panel-default">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">

  <h1>天体観測</h1>

</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

    <h3>興味タイプ</h3>
    <h3>IAR</h3>

  </div>
  </div>

  <%= image_tag("astronomy2.jpg", :class => "img-responsive img-thumbnail") %>

  <div class="pic_bottom">
    <div class="panel panel-default">
      <div class="panel-body">

  <h3>
    天体観測とは？
  </h3>

</div>
</div>
</div>


  <div class="panel panel-default">
    <div class="panel-body">

<h2>
  星々からの神秘
</h2>

</div>
</div>

<p>
  雲一つない晴れた日の夜の道。ふと頭上を見てみると、きらきらと輝くたくさんの星々に驚くことでしょう。
</p>

<p>
  キラキラと輝く姿はどこか儚げでありながら、その美しさに感動すら覚えます。
</p>

<p>
  私たちが頭上にある星の光は今から何万年も前に発せられた光であるとといわれています。
</p>

<p>
  ということは、今あなたが見ているその星は、現在では、すでに無くなっている可能性があるのです。
</p>

<p>
  自分が存在していない時代から届いた星の光。
  そう考えると、神秘的な感じがしませんか？
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h3>
  天体観測の良いところ
</h3>

</div>
</div>


<div class="panel panel-default">
  <div class="panel-body">

    <h2>
      四季によって変化する夜の星空
    </h2>

</div>
</div>


<p>
  天体観測の面白いところの一つに、四季に応じて見える星が変わっていくところがあります。
</p>

  <p>
    時期によって事情に見える星や星座が変わっていくので、その時々の星座にまつわる物語を調べてみても楽しいでしょう。
  </p>

  <p>
    小学生の時に習う「夏の大三角」や「冬の大三角」は日本ではとても有名な星ですが、 実は春にも「春の大三角」というものがあり、秋には「秋の四辺形」と呼ばれている星があります。
  </p>

  <p>
    このように、季節に合わせて見える星空が違うということがわかりますね。
  </p>

  <p>
    そして、夏には「天の川」という幻想的な星空を見ることもできます。 この時期だけしか見ることができないという限定感がよりうれしい気分にさせてくれますね。
  </p>

  <div class="panel panel-default">
    <div class="panel-body">

<h2>
  星空を眺めてリフレッシュ
</h2>

</div>
</div>


<p>
</p>

<p>
  新鮮な空気を感じながら、夜空を輝く星々を見ていると、日常をストレスやイライラが少しずつなくなっていきます。宇宙の大きさや星々の神秘に触れることで、自分の存在を見つめなおすきっかけになったり、日常と異なる世界に触れることで、ストレス解消になるのでしょう。
</p>

<div class="panel panel-default">
  <div class="panel-body">

    <h3>
      天体観測の始め方
    </h3>

</div>
</div>


  <%= image_tag("astronomy1.jpg", :class => "img-responsive img-thumbnail") %>


  <div class="panel panel-default">
    <div class="panel-body">

      <h2>
        星がよく見えるところに行こう
      </h2>

</div>
</div>


  <p>
    街中で街の明かりが明るすぎて、きれいな星空は見ることはできません。
  </p>

  <p>
    そのため、天体観測には街中を離れることは必要になってきますが、実は特別な道具がなくても、十分に星空を楽しむことができるのです。
  </p>

  <p>
    ちょっとしたお散歩ついでに町明かりの少ない場所に行ってみませんか？
  </p>

  <p>
    きっと運動にもなって,気分転換になることでしょう。
  </p>

  <div class="panel panel-default">
    <div class="panel-body">

      <h2>
        プラネタリウムの活用
      </h2>

</div>
</div>

  <p>
    いきなり天体観測の道具を買うのはちょっと…という方はまずはプラネタリウムへ足を運んでみましょう。 星座の見つけ方や、今の季節の星空の解説などをわかりやすくしてくれるでしょう。
  </p>

  <p>
    最近はプラネタリウムが設置されている施設もいたるところにあるので、お近くにある方はぜひ行ってみてください。
  </p>

  <div class="panel panel-default">
    <div class="panel-body">

      <h2>
        天体望遠鏡から見る夜空
      </h2>

</div>
</div>



  <p>
    天体望遠鏡のような天体観測の道具があれば自宅のベランダからも星空を観察をすることができます。晴れた日の夜であれば、 月のクレーターも見ることができます。
  </p>

  <p>
    しかし、天体望遠鏡はこだわればこだわるほどお値段も高くなっていくものです。 最初はお手ごろな価格の望遠鏡から初めて、ご予算の都合が合えば、あなたに合った天体望遠鏡を手に入れるとよいでしょう。
  </p>

  <div class="panel panel-default">
    <div class="panel-body">

      <h2>
        世界で一つのあなたの夜空
      </h2>

</div>
</div>

  <p>
    感動を覚えた星空を写真に残してみるのはどうでしょう。 星の形がわかる写真なんてそれほどインターネットに載っていませんし、何より自分で撮った星の写真は自慢の一枚になること間違いなしです！
  </p>

  <p>
    デジカメや一眼レフでも撮影はできますが、専用のレンズが必要になってきますので、ご予算に合わせて検討してみましょう。
  </p>

  <div class="panel panel-default">
    <div class="panel-body">

      <h2>
        天体観測の本は？
      </h2>

</div>
</div>



  <p>
    天体観測について詳しく書かれている本は、子供向けから大人向けまで幅広く出版されています。 内容も読みやすく、そしてわかりやすいものになっているので、お近くの図書館や書店に立ち寄ってみるとよいでしょう。
  </p>

  <div class="panel panel-default">
    <div class="panel-body">

      <h3>
        まとめ
      </h3>

</div>
</div>



  <%= image_tag("astronomy3.jpg", :class => "img-responsive img-thumbnail") %>

  <p class="pic_bottom">
    普段の生活では、ほとんど見ることがない星空。
    たまには、夜の星々の輝きを見に行きませんか？
  </p>

  <p>
    きっと、忘れられない思い出になりますよ
  </p>
</div>
</div>
</div>
</div>
