<% provide(:title, "バックギャモン") %>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
  <div class="panel panel-default">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">
  <h1>バックギャモン</h1>
</div>
</div>

  <div class="panel panel-default">
    <h3>興味タイプ：I</h3>
  </div>

  <%= image_tag "backgammon1.jpg" , :class => "img-responsive img-thumbnail" %>

<div class="pic_bottom">
  <div class="panel panel-default panel-info">
    <div class="panel-heading">
  <h3>
    バックギャモンとは？
  </h3>
</div>
</div>
</div>

<p>
  バックギャモンというボードゲームを知っていますか？おそらく日本人では、知らない人が多いと思います。
  しかし、ヨーロッパやアメリカでは、めちゃくちゃメジャーなボードゲームで、世界で一番遊戯人口が多いボードゲームなんですね。
</p>

<p>
  こんなに面白くて世界中で人気のボードゲームが日本人にだけ理解されていないのはもったいない！
</p>

<p>
というわけで、今回はバックギャモンについてちょっと詳しくなってみませんか？
</p>

  <div class="panel panel-default">
  <h2>
    バックギャモンってなにをするの？
  </h2>
</div>

<div class="youtube_container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/NguWjiYFYww" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>
バックギャモンは将棋や囲碁とおなじ二人で二人で遊ぶ対戦ボードゲームです。まず盤上に１５個の駒を配置し、二つのサイコロを交互に振ります。その出た目に従って駒を動かし、すべての駒を先にゴールさせたほうが勝ちというルールです。
</p>

<p>
これだけだと、シンプルすぎるゲームだなと感じると思いますが、実は相手の駒を邪魔をしてスタートを遅らせたり、自分の駒を並べて相手の駒を動けなくさせたりなどの戦略があるんです。
これらをうまく使えば、サイコロの出目がそれほど良くなくても相手より早くゴールすることができるんです！
</p>

<p>
このように運と戦略が求められるゲームなんですね。
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
  バックギャモンの良いところ
</h3>
</div>
</div>

<div class="pic_bottom">
<div class="panel panel-default">
<h2>
  世界トップクラスの遊戯人口！
</h2>
</div>
</div>

<div class="youtube_container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/intNL-5jkIo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>
バックギャモンはアメリカやヨーロッパだけでなく、世界中で遊ばれているゲームです。
そのため、バックギャモンができれば、世界中の人とお友達になれます。
ある意味、世界中の人と仲良くなれるコミュニケーションツールとなるわけですね。
</p>

<p>
海外留学先で友達を作る際にも、バックギャモンはコミュニケーションツールとして役に立つでしょうし、
ホームステイ先の家族と仲良くなるのにも使えます。
</p>

<p>
このように、海外志向な人にもお勧めできるボードゲームですね。
</p>

<div class="panel panel-default">
<h2>
頭を鍛えることができる
</h2>
</div>

<%= image_tag "chess2.jpg" , :class => "img-responsive img-thumbnail" %>

<p>
バックギャモンはサイコロを振って、出た目に従って駒を進めていくゲームですが、実はサイコロの出目よりも戦略のほうが相手に勝つためには重要になってくるゲームなんです。
</p>

<p>
  自分と相手のサイコロの目やお互いの駒の位置を考えながら、変化する盤上の状況に合わせて最善の駒の動かし方を考えなくてはいけません。
  このように、頭を振り絞る必要があるため、頭のトレーニングに最適です。
</p>

<p>
友達と一緒に遊びながら、脳を鍛えることができますので、子供の脳のトレーニングにおすすめできますね。
また、お年寄りのかたでも、楽しみながら脳を鍛えることができるので、ボケ防止に最適でしょう。
</p>


<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
  バックギャモンの始め方
</h3>
</div>
</div>

<div class="panel panel-default">
<h2>
どこでバックギャモンの道具は手に入るの？
</h2>
</div>

<%= image_tag "backgammon2.jpg" , :class => "img-responsive img-thumbnail" %>

<p>
バックギャモンを遊ぶために必要なものを手に入れましょう。ボードゲームを扱っているお店であられていることもありますが、インターネットショップのもののほうが良いでしょう。
</p>

<p>
  たいてい実際にお店に行くよりも安いですし、なによりボードゲームを扱っているお店がない地方のほうが多いと思いますから。
</p>

<p>
バックギャモンの大きさは人それぞれ好みはありますが、ノートパソコンくらいの小型の物のほうが収納に困らないと思います。
</p>

<div class="panel panel-default">
<h2>
  ルールを知りたい
</h2>
</div>

<div class="youtube_container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/2FPkJgiOrW4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>
インターネットで検索すれば、多分出てくると思いますが、バックギャモンの戦略や戦術も勉強したいなと思う人はぜひ本を手に入れましょう。本屋さんにあるかもしれませんがたいていインターネットで買ったほうが種類も豊富で安いです。
</p>

<p>
  身近に国立図書館のような大きな図書館がある人であれば、そこで借りるというのも良いでしょう。
</p>

<div class="panel panel-default">
<h2>
  対戦相手を見つけよう
</h2>
</div>

<p>
ルールも覚えて、道具も手に入ったら誰かとやってみたいと感じるのが人情というものでしょう。
最近では、バックギャモンの知名度も日本では大きくなってきているので、日本各地で大会が行われております。
</p>

<p>
近くで大会なんてやってないよという方やまずは一人で腕前を上げたいですという方であれば、コンピュータと対戦をしましょう。無料で対戦できますし、１００戦連続でやっても相手は文句を言いません。
</p>

<p>
コンピュータであれば、自分の実力に合ったレベルで戦ってくれますので、初心者の方にもおすすめです。最近では、インターネット上にあるバックギャモンだけでなく、スマートホンのアプリとしてバックギャモンがありますので、まずはそこから始めてみましょう。
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
  まとめ
</h3>
</div>
</div>

<div class="youtube_container">
<iframe width="560" height="315" src="https://www.youtube.com/embed/sDD4e536u8Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p class="pic_bottom">
  どうでしたか？バックギャモンに少しでも詳しくなれたでしょうか？

</p>

<p>
  日本でも最近有名になってきており、ヨーロッパやアメリカでは知らない人がいないほど有名なゲームなので、一度覚えてしまえば、外国人の方とのコミュニケーションツールになると思います。
</p>

<p>
幅広い年齢層の人たちに楽しんでいただけると思いますので、ぜひ試しにバックギャモンをやってみませんか？
</p>

  </div>
  </div>
  </div>
  </div>
