<% provide(:title, "競輪") %>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
  <div class="panel panel-default">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">
  <h1>競輪</h1>
</div>
</div>

  <div class="panel panel-default">
    <h3>興味タイプ：ESC</h3>
    <h3></h3>
  </div>

  <%= image_tag "number_place1.jpg", size:"460x410", :class => "img-responsive img-thumbnail" %>

<div class="pic_bottom">
  <div class="panel panel-default panel-info">
    <div class="panel-heading">
  <h3>
    競輪とは？
  </h3>
</div>
</div>
</div>

<p>
競輪という言葉を聞いたことはあるでしょうか？なんとなく、おじさん向けの遊びというイメージを持つ人も多いのではないでしょうか？
</p>

<p>
  しかし、現在では、女性が自転車で走るガールズケイリンやレース場をハイライトして美しく飾るミッドナイト競輪など様々な種類の競輪が用意されているんですよ！
</p>

<p>
  競輪はおじさんだけでなく、若い人も楽しめる場所なのです。
</p>

<p>
  そんな競輪についてちょっと詳しくなって見ませんか？
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
競輪のよいところ
</h3>
</div>
</div>

<div class="panel panel-default">
<h2>
人間同士の熱いレース
</h2>
</div>

<%= image_tag "number_place2.jpg", size:"460x410", :class => "img-responsive img-thumbnail" %>

<p>
競輪は競馬や競艇と違って唯一人間の力のみでレースを走る「公営競技」です。
</p>

  <p>
    競輪選手は競輪学校時代から、毎日たくさんのトレーニングを積んでいますが、レース中は自転車同士の衝突によるアクシデントや怪我も発生します。そのため、競輪選手は一戦一戦が危険と隣り合わせのレースとなります。
   </p>

   <p>
     だから、競輪は競艇や競馬と違って選手の精神と肉体が試されるハードな競技となるのです。
   </p>

   <p>
     そんな人間同士の暑いレースバトルを楽しめるのも競輪の魅力の一つです。
   </p>

   <div class="panel panel-default">
   <h2>
高額の配当金も！？
   </h2>
 </div>

 <%= image_tag "number_place3.jpg", size:"460x410", :class => "img-responsive img-thumbnail" %>

  <p>
競輪には、様々な賭け方がありますが、中でも１着から３着までピッタリと当てる「３連単」という賭け方があります。
</p>

<p>
  この３連単は他の賭け方よりも遥かに配当金が高く、たった１００円が４００万円以上の配当金になったこともあるようです。
</p>

  <p>
    もちろん３連単を当てることは難しいですが、当たれば一気に大儲けというロマンは素敵ですよね。だれにでもおすすめできる賭け方ではありませんが、勇気のある方は挑戦してみても良いかもしれませんね。
  </p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
  競輪の始め方
</h3>
</div>
</div>

<div class="pic_bottom">
<div class="panel panel-default">
<h2>
  競輪のルールを知ろう！
</h2>
</div>
</div>

<p>
競輪は「バンク」と呼ばれる競争路の上を自転車で走る競技です。
１つのレースに９名の選手が走り、１着、２着、場合のよっては３着までを予想して車券というものを購入して賭けを行います。
</p>

  <p>
    賭け方には様々な種類があり、先程説明した３連単以外にも３連複、２車単、３車複、２枠単、２枠複、ワイドという種類があります。３連単ほどではないですが、他の賭け方もある程度の配当金が見込めるでしょう。
</p>

  <p>
    選手の自転車は１番車から、白、黒、赤、青、黄、緑、オレンジ、ピンク、紫の９番車で色分けされており、はじめての方でも自分が応援している選手をすぐに見つけることができますね。
</p>

<div class="panel panel-default">
<h2>
競輪の情報を手に入れよう！
</h2>
</div>

<p>
  インターネットを使えば、競輪に関する情報はたくさん手に入れることはできます。
</p>

<p>
  例えば、<%= link_to "KEIRIN.JP", "http://keirin.jp/pc/top" %>というサイトでは、初心者向けコンテンツがたくさんあり、はじめての方はこちらを見てみると良いでしょう。
</p>

<p>
  ほかにも、車券の購入の仕方や全国のレースの開催状況、レースを走るメンバーの紹介など様々な情報が載せられています。
</p>

<p>
  実際に競輪場に行く前にここで情報を手に入れておくと良いでしょう。
</p>

<p>
  競輪場の中でも、スポーツ新聞や競輪新聞などの当日のレースや走るメンバーについての情報が載せられた新聞がありますので、そちらを手に入れるという手もありますね。
</p>

<div class="panel panel-default">
<h2>
車券の買い方
</h2>
</div>

<p>
競輪場で賭けをしたい場合は競輪場内に設置されている「マークカード」というもので購入したい賭け方を選ぶことができます。マークカードに購入したい賭け方などを塗りつぶして選びます。
</p>

<p>
例えば、競輪は１００円から購入することができるのですが、１００円購入したい場合は１という数字を塗り、その次に百円の欄を塗りつぶします。お金とマークカードを近くにおいてある機会に入れると、購入した車券が出てきます。
</p>

<p>
無事に車券を購入することができたら、レースが始まるのを待ちましょう。レースの結果が予想と的中することができたら、配当金が手に入りますし、予想が外れてもレースの結果がわかるまでのワクワクドキドキを楽しめるでしょう。
</p>

 <div class="panel panel-default panel-info">
   <div class="panel-heading">
 <h3>
   まとめ
 </h3>
</div>
</div>

    <p class="pic_bottom">
いかがでしたか？少しでも競輪に詳しくなることができたでしょうか？
    </p>

    <p>
競輪という言葉を聞くとなんとなくおじさん向けの遊びというイメージがありますが、最近では、若い人や女性も競輪場に来ることが多いんですよ。
    </p>

    <p>
      競輪場には、レース以外にもご当地グルメなどのも楽しめますので、そういうもの目当てでもいいかもしれませんね。
      </p>

    <p>
      競輪はハマりすぎるのも困りものですが、適度な距離感を持って楽しめば、一日中楽しめる遊びです。
    </p>

<p>
  是非一度最寄りの競輪場に立ち寄って見てはいかがですか？
</p>

</div>
</div>
</div>
</div>
