<div class="hobby_page">

  <h1>ブログ</h1>

  <h2>
    興味タイプ
  </h2>
  <h3>AIE</h3>

  <%= image_tag("blog1.jpg") %>

  <h2>ブログとは？</h2>

  <p>
ブログとはインターネット上に存在する日記のようなものです。

しかし日記とブログの大きな違いはほかの人があなたのブログを観覧することができるという点にあります。

自分だけで楽しむものが「日記帳」、世界中の人々と共有する日記帳が「ブログ」というわけです。

インターネット上に投稿すると世界中の人があなたの日記を閲覧することができるので、ブログを読んでくれる人たちとのコミュニケーションツールとしても使えるのです。
  </p>

  <p>
ブログのよいところ
</p>

<%= image_tag("blog3.jpg") %>

  <p>
多様なブログのテーマ
</p>

  <p>
ブログのテーマは人の数だけありますが、大きく分けるといくつかの種類に分類することができます。そのうちのいくつかを紹介しましょう！

自分の気持ちを書いた日記
最も多くの人が書くブログのテーマはこのテーマでしょう。
好きなアイドルや日常の話などを記事として書き、あなたのブログを訪れた人に読んでもらいましょう。

あなたの書いた記事によっては多くのファンができ、同じテーマに興味を持つ人たちとのつながりを持つことができますよ。

知識系ブログ
お酒やファッションなどの特定の分野に特化して記事を書いているブログがこれです。

普通のブログよりも記事を書く難易度が高いですが、それだけ多くの人たちに読んでもらいやすくなりますし、その分野の専門家として認められるかもしれません。
  </p>

  <p>
ブログを読んでみよう
</p>

  <p>
ブログは書くだけでなく、読んでみるのも面白いものです。

例えば、多くの芸能人がブログを更新しており、それを閲覧することができます。

好きな芸能人の日常を知ることが出来たり、交流関係を知ることもできます。

芸能人以外にも、企業の社長や芸術家など普段なかなか会うことができない人ともブログを通してならば、交流することができるというのもブログの魅力の一つです。
</p>



  <p>
ブログの始め方
</p>

<p>
ブログを登録しよう
</p>

  <p>
    ブログのサイトはたくさんあり、そのほとんどが無料で楽しむことができます。

    いくつか代表的なブログを紹介しますので、あなたの使いやすいサイトを見つけてみましょう。

    ライブドアアブログ
    もっともだいひょうてきなブログでしょう。
    ブログを書くまでの操作がわかりやすいので、どんな方でもお使いできます。

    アメーバブログ
    芸能人のブログも多いので、書くだけでなく読むことでも楽しめます。

    はてなブログ
    本格的な情報や思想などを発信しているブログが多く、専門的なテーマを扱いたい方にお勧めです。
 </p>

 <p>
ブログを書いてみよう！
 </p>

  <p>
ブログの登録が完了しましたら、さっそくブログを書き始めてみましょう。

なにか一つテーマを決めて書いてみるのもよいですし、いきなりテーマを決めないで自由に書いてみてもよいかもしれません。

そのブログを読んで、読者からコメントがもらえたり、交流のきっかけになるかもしれません。

ちょっと冒険して英語でブログを書いたら、外国人の友達ができますよ。
  </p>

    <p>
      まとめ
    </p>
    <%= image_tag("blog2.jpg") %>

    <p>
      最初は誰でも上手に文章を書けないものです。しかし、何度もブログを書き続けていれば、少しずつ上手になっていきます。

      また、自分ではつまらないと思っているようなことでも、他人にとっては面白いことだってたくさんあります！

      ですので、自分が書きたいと思うことを書いてみましょう。

      ブログを難しいものとして考えるのではなく、もっと気軽に始めてみませんか？
    </p>
</div>
