<% provide(:title, "献血") %>
<div class="container">
  <div class="panel panel-default">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">

  <h1>献血</h1>

</div>
</div>

  <div class="panel panel-default">
    <div class="panel-body">

    <h3>興味タイプ</h3>
    <h3>S</h3>

  </div>
  </div>

  <%= image_tag "blood_donation4.jpg", size:"460x410" , :class => "img-responsive img-thumbnail"%>

<div class="pic_bottom">
  <div class="panel panel-default">
    <div class="panel-body">

  <h3>
    献血とは？
  </h3>

</div>
</div>
</div>

<p>
  大学やショッピングモールなどで献血車を見たことはありませんか？
</p>

<p>
  時々見かけはするものの、献血をしたことがある人は少ないのではないのでしょうか？
</p>

<p>
  血を取られるというのは、なんとなく嫌なことですし、注射を刺されるのは怖いものです。
</p>

<p>
  しかし、献血の仕組みや、献血ルームの中について知ってしまえば、怖がる必要はありません。
</p>

<p>
  私たちが簡単に出来るステキな人助け、「献血」についてご紹介しますね。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h3>
  献血のよいところ
</h3>

</div>
</div>


<%= image_tag "blood_donation3.png", size:"460x410" , :class => "img-responsive img-thumbnail"%>

<div class="pic_bottom">
  <div class="panel panel-default">
    <div class="panel-body">

  <h2>
  社会貢献・人助けができる
  </h2>

  </div>
  </div>
</div>

<p>
  現代の発達した医学でも、人間の血液を作り出すことはできません。
</p>

<p>
  そのため、血液が足りないために、手術が出来なくて困っている人はたくさんいるのです。
</p>

<p>
  しかし、献血を行えば、血液が足りずに困っている人を助けることができるのです。
</p>

<p>
つまり献血とは、誰でも簡単に社会へ貢献することができる手段なのです。
</p>

  <p>
そして、献血にかかる時間は30分から40分程度。
   </p>

   <p>
     時間もかからずにできるので、ちょっと時間が空いているときに献血をすることができるのです。
   </p>

   <div class="panel panel-default">
     <div class="panel-body">

   <h2>
無料で血液検査をしてもらえる
　</h2>

</div>
</div>

<p>
普段から定期的に健康診断に行っていらっしゃるでしょうか？
</p>

<p>
  血糖値やコレステロール値など血液検査でないとよくわからないものがたくさんありますよね。
</p>

  <p>
しかし、自分の身体の状態が気になっていても仕事や学校で忙しく、普段から定期的に健康診断に出かけている方は少ないでしょう。
</p>

<p>
  そこで、便利なのが献血です。
</p>

<p>
  献血に行くと、まずあなたの血液の状態を診てもらえます。
</p>

<p>
 人の役に立てるだけでなく、あなたの身体の状態までも知れてしまうというお得感！
</p>

  <p>
    もちろんお金はかかりません！
</p>

<div class="panel panel-default">
  <div class="panel-body">

     <h2>
       飲み物やお菓子がもらえる
     </h2>

   </div>
</div>

     <p>
       献血をすると飲み物やお菓子がもらえるというのを知っていましたか！？
     </p>

     <p>
       献血後、献血してくれた人は少しだけ休憩をするように言われます。
     </p>

     <p>
       その時にお菓子や飲み物が無料でいただけるのです。
     </p>

  <p>
    お代わり自由なので、小腹がすいたお腹も、のどの渇きも満たせますね。
  </p>

<p>
例えば身近なところでは、東京の献血ルームでは、無料のお菓子コーナーの中にハーゲンダッツが置かれていたり、場所によっては漫画喫茶並みに漫画が置いてあったりするところもあるそうです。
</p>

<p>
  もちろん、お菓子や飲み物目当てに献血するわけではないのですが、人助けをしてお菓子ももらえるのはうれしいですよね！
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h3>
  献血の始め方
</h3>

</div>
</div>

<%= image_tag "blood_donation1.png", size:"460x410", :class => "img-responsive img-thumbnail" %>

<div class="pic_bottom">

<div class="panel panel-default">
  <div class="panel-body">

<h2>
献血が出来る条件
</h2>

</div>
</div>
</div>

<p>
  献血は誰でもできるわけではなく、男女ともに条件があるんです。それは次の二つです。
</p>

<ul>
  <li>
    <p>
      1．16歳～69歳で、健康な方
    </p>
  </li>
  <li>
  <p>
  2．  体重によって献血できる血液の量が決まってくる
  </p>
  </li>
</ul>

<p>
必要な条件はたったこれだけなので、それほど難しくありません。
</p>

<div class="panel panel-default">
  <div class="panel-body">

 <h2>
献血はどこでできるの？
 </h2>

</div>
</div>

  <p>
    献血は主に献血ルームで行うことができます。
    駅などの大きな建物で行っていることが多いので、気軽に立ち寄ることができます。通勤や通学で駅を利用することは多いので、迷うことはないと思います。もし不安ならば、パソコンやスマートホンで調べてから行くのもよいと思います。
  </p>

  <p>
    もう一つの献血場所として、献血バスというものがあります。
    大学やショッピングモールのような大きな建物に派遣されていることが多いです。
    こちらは献血ルームと違って、ゆっくりくつろげる雰囲気ではありませんが、こちらでも血液検査をしてもらえたり、無料で飲み物やお菓子をいただくことができます。
   </p>


   <div class="panel panel-default">
     <div class="panel-body">

 <h3>
   まとめ
 </h3>

</div>
</div>

 <%= image_tag "blood_donation2.png", size:"460x410", :class => "img-responsive img-thumbnail" %>


    <p class="pic_bottom">
      普段、献血ルームや献血車を見かけることがあっても、立ち寄ることはあまりないと思います。
    </p>

    <p>
      一見、敷居が高そうに感じる献血ですが、実際に献血ルームに行ってみると、スタッフは明るく優しい対応をしてくれます。
    </p>

    <p>
      注射をされることに恐怖を感じる人もいるかもしれませんが、採血には非常に細い針を使用するので、痛みもそんなにありません。
   </p>

    <p>
      実際に注射された人の感想を聞いてみると、「以外に大したことはなかった」とおっしゃる人がほとんどです。
     </p>

<p>
  献血は誰でも簡単に始めることができて、手間もそれほどかかりません。
</p>

<p>
  献血のついでに自分の健康を確かめることもできますし、無料のお菓子と飲み物もいただけます。
</p>

<p>
  簡単でいろいろお得なことも多いのに、社会・人の助けになる献血。
</p>

<p>
  一度、お近くの献血ルームに立ち寄ってみては、いかがでしょうか。
</p>

</div>
</div>
