<% provide(:title, "クラシック演奏会") %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
  <div class="panel panel-default">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">

  <h1>クラシック演奏会</h1>

</div>
</div>

  <div class="panel panel-default">
    <div class="panel-body">

    <h3>興味タイプ</h3>
    <h3>AS</h3>

    </div>
    </div>

  <%= image_tag "classical_misic_concert3.jpg", :class => "img-responsive img-thumbnail" %>

  <div class="panel panel-default">
    <div class="panel-body">

  <h3>
    クラシック演奏会とは？
  </h3>

</div>
</div>

  <p>
    クラシックの演奏会と聞くと、まじめで堅苦しいイメージがあるかもしれません。
  </p>

  <p>
    ちょっと私には合わないかも…と思ったあなた！
  </p>

  <p>
    全くそのようなことはありません！
  </p>

  <p>
    一度でも参加してみれば、CDとは違う生の音楽、そして演奏者の息遣いを近くで感じられて大興奮することは間違いなしです！
  </p>

  <p>
    また、全国各地でさまざまな演奏会がほぼ毎週開かれています。 あなたの興味のある、そして好みの演奏会を見つけてみましょう。
    </p>

    <div class="panel panel-default">
      <div class="panel-body">

    <h2>
      演奏会の種類を知ろう
    </h2>

    </div>
    </div>


      <p>
        クラシック演奏会にはいくつか種類がありますが、その中で代表的なものを紹介します。
    </p>

    <div class="panel panel-default">
      <div class="panel-body">

    <h2>
      定期演奏会
    </h2>

    </div>
    </div>


    <p>
      これは各オーケストラが定期的に開催している演奏会のことです。
    </p>

    <p>
      有名な指揮者を招いて演奏をしたり、時期に合わせた曲目を演奏したりしています。
    </p>

    <p>
      代表的なクラシックの演奏会といえばこれでしょう。
    </p>

    <div class="panel panel-default">
      <div class="panel-body">

        <h2>
          リサイタル
        </h2>

      </div>
    </div>

        <p>
          これは一人で演奏されるタイプの演奏会です。
        </p>

        <p>
          ピアノやヴァイオリンなどを使って演奏します。
        </p>

        <p>
          テレビなどで有名なクラシック演奏家がこのタイプの演奏会をよく開催しています。
        </p>

        <div class="panel panel-default">
          <div class="panel-body">

    <h2>
      協奏曲演奏会
    </h2>

    </div>
    </div>

    <p>
      複数人の奏者で行われるオーケストラとソリストと呼ばれるソロの奏者が一緒に演奏できる曲が聴ける演奏会のことです。
    </p>

    <p>
      ピアノやヴァイオリンなどの楽器による演奏会が代表的ですがそれ以外にも様々な楽器で協奏曲演奏会が開催されています。
    </p>

    <div class="panel panel-default">
      <div class="panel-body">

    <h3>
      クラシック演奏会のよいところ
    </h3>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

    <h2>
      リラックスできる
    </h2>

</div>
</div>


<p>
  リラクゼーションミュージックを聞いたことはありますか？リラクゼーションミュージックの大半はクラシック音楽を使用しています。
</p>

<p>
  クラシック音楽には、人間がリラックスできる音の波長が多く含まれており、聞く人の神経の興奮を落ち着かせて、リラックスさせてくれます。つまり、クラシック演奏会は癒し系ミュージック演奏会でもあるのです。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  人に自慢できる
</h2>

</div>
</div>


<p>
人に趣味を聞かれたときに、「休日はクラシックの演奏会に行っています」と言えると、かっこよくありませんか？
趣味はクラシック演奏会という言葉は初めて会う人たちにこの人は只者ではないという印象を与えてくれます。そこまでいかなくても、クラシック音楽に詳しい人というのは多くの人に良い印象を与えてくれるでしょう。
</p>

<div class="panel panel-default">
  <div class="panel-body">

    <h2>音楽に詳しくなれる</h2>

  </div>
</div>


<p>
  クラシック音楽が古臭い音楽だと思ってはいませんか？
  実はクラシック音楽の様々な部分がほかのジャンルの音楽に影響を与えているんです！
  楽譜や音符などのような基礎的な部分から曲のメロディーラインまで。クラシック音楽は様々なところに影響を与えています。クラシック音楽に詳しくなれば、ほかのジャンルの音楽にも詳しくなれますし、将来作曲や楽器演奏をしてみたいと考えている人の助けにもなります。
</p>

<div class="panel panel-default">
  <div class="panel-body">

    <h3>
      クラシック演奏会の始め方
    </h3>

  </div>
</div>

<%= image_tag "classical_misic_concert2.jpg", :class => "img-responsive img-thumbnail" %>


<div class="pic_bottom">
  <div class="panel panel-default">
    <div class="panel-body">

      <h2>
        近くの演奏会を見つけよう
      </h2>

    </div>
  </div>
</div>

<p>
  いざ音楽会に行こうと思っても、たくさんの種類があるので、どれを選んだらいいのかわからないと思います。
</p>

<p>
  ですので、まずはお近くの演奏会やスケジュールの合う演奏会に調べてみましょう。 あなたのスケジュールに合う演奏会がみつかるはずです。
</p>

  <p>
    また、動画サイトでクラシックの曲をいくつか聞いて、好みのタイプを見つけておけば、よりお気に入りの演奏会を見つけやすくなるでしょう。
 </p>

 <div class="panel panel-default">
   <div class="panel-body">

 <h3>
   まとめ
 </h3>

</div>
</div>

    <%= image_tag "classical_misic_concert1.jpg", :class => "img-responsive img-thumbnail" %>

    <p class="pic_bottom">
      誰でも初めてクラシックの演奏会に行くとなると緊張してしまうものです。
    </p>

    <p>
      しかし、一度生の演奏会に行ってみれば、CDとは比べ物にならない演奏会の迫力に圧倒されて病みつきになりますよ！
    </p>

    <p>
      全国各地でさまざまな演奏会がほぼ毎週開かれていますので、まずは気軽に参加してみてはいかがでしょうか？
    </p>
</div>
</div>
</div>
</div>
