<% provide(:title, "デッサン") %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
  <div class="panel panel-default">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">

  <h1>デッサン</h1>

</div>
</div>

  <div class="panel panel-default">
    <div class="panel-body">

    <h3>興味タイプ</h3>
    <h3>AR</h3>

  </div>
  </div>

  <%= image_tag"drawing1.jpg", :class => "img-responsive img-thumbnail" %>

<div class="pic_bottom">

  <div class="panel panel-default">
    <div class="panel-body">

  <h3>
    デッサンとは？
  </h3>

</div>
</div>
</div>

  <div class="panel panel-default">
    <div class="panel-body">

<h2>
  デッサンってなにをするの？
</h2>
</div>
</div>

<p>
  デッサンを簡単に言えば、書くものの特徴をとらえて紙に描くことです。
</p>

<p>
  描きたいものの特徴を素早くつかむことができれば、いわゆる上手な絵が描けるようになります。
</p>

<p>
  次に、書きたいものの特徴を立体的にとらえてみましょう。例えば、書きたいものにどのように光が当たっているかを考えながら陰を付けると立体的に見えます。
</p>

<p>
  立体的に見える絵を描けるようになると、ほかの人から見ても上手な絵に見えるようになりますよ。
</p>

<p>
一度、デッサンが上手にできるようになれば、イラストや漫画などをずっとじょうずに描けるようになります。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h3>
  デッサンの良いところ
</h3>

</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  絵がうまくなる
</h2>

</div>
</div>

<%= image_tag "drawing2.jpg", :class => "img-responsive img-thumbnail" %>

<p class="pic_bottom">
  一度デッサンのコツをつかんでおくと、ほかの本格的な絵の腕前も格段に上達します。
</p>

<p>
  マンガ、イラスト、油彩や水彩など様々な絵がありますが、デッサンの基本を理解しているのといないのでは、絵の魅力が大きく違ってきてしまいます。
</p>

<p>
  漫画を描きたいひとや本格的な絵画を描きたいひとであっても、基本的なデッサンを身に着けておくべきでしょう。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  気楽に始められる
</h2>

</div>
</div>

<p>
  デッサンの良い所は、気軽に始められるところでしょう。鉛筆と紙さえあれば、好きなだけ絵を描くことができるのです。
</p>

<p>
  試しに広告の裏などに絵を描いてみましょう。
</p>

<p>
  楽しいと感じることができたら、鉛筆やスケッチブックを買い足してみましょう。
</p>

<p>
スケッチブックがあれば、自分が以前書いた絵を見直すことができますし、昔と比べて、自分の絵の腕前がどれほど成長したか比べることもできます。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  ストレス解消になる
</h2>

</div>
</div>

<p>
  自分の書きたいものを自由に描くと気分の良いものです。実際に絵を描くと、うまい下手に関係なくストレス解消につながります。
</p>

<p>
  面白いことに、自分ではそれほどストレス解消になっているとは思っていなくとも、体内のストレスホルモンは確実に減少しているという研究結果も得られています。
</p>

<p>
  ストレスに悩まされている人ほど、絵を描いてみるとよいでしょう。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  脳を若返らせる
</h2>

</div>
</div>

<p>
  描きたいものの特徴を頭の中に記憶しておき、その記憶を思い返しながら、集中して絵を描いていく。デッサンには、このような能力が求められます。そのため、デッサンを続けていくだけで、脳のトレーニングとなります。
</p>

<p>
  脳の衰えを防ぐだけでなく、新しい神経の発達や認知機能の維持ができるのです。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h3>
  デッサンの始め方
</h3>

</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  何が必要なの？
</h2>

</div>
</div>

<p>
  デッサンは紙とペンさえあれば、いつでもだれでも簡単に行える趣味です。
</p>

<p>
  ですが、デッサンを試してみて、面白いと感じたのであれば、スケッチブックを購入することをお勧めします。
</p>

<p>
  どこにでも持ち歩くことができますし、持ち込んだ先で描きたいものを見つけたら、その場で描くことができます。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  どのように練習すればよいの？
</h2>

</div>
</div>

<p>
  デッサンのやり方はインターネットで多くの情報が載っているので参考にするとよいでしょう。
</p>

<p>
  図書館や書店に行けば、デッサンに関する専門書などが多数置いてますので、購入してみるのもおすすめです。
</p>

<p>
お気に入りの写真のデッサンも良い勉強になります。写真投稿サイトがインターネット上に多数存在するので、お気に入りの写真をデッサンに使ってみるとよいでしょう。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h3>
  まとめ
</h3>

</div>
</div>

<%= image_tag"drawing3.jpg" , :class => "img-responsive img-thumbnail" %>

<p class="pic_bottom">
  上手な絵を描いている人はどのようにしてこれほど上手な絵を描いているのかという疑問を持ったことが一生に一度はあったと思います。今を活躍する漫画家やイラストレーターも最初はデッサンを行い、その基礎を固めていました。
</p>

<p>
  それ以外にも、ある程度上手な絵を素早く書けるようになると、日常生活でもとても役に立ちます。
</p>

<p>
  絵を描くという趣味は性別や年齢に関係なく一生続けられるものですので、試しに一度クリエイティブな世界に足を踏み入れてみませんか？
</p>

</div>
</div>
</div>
</div>
