<% provide(:title, "ゲーム制作") %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
  <div class="panel panel-default">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">

  <h1>ゲーム制作</h1>

</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

    <h3>興味タイプ</h3>
    <h3>IAR</h3>

  </div>
  </div>

  <%= image_tag "game_production3.jpg", :class => "img-responsive img-thumbnail" %>

<div class="pic_bottom">

  <div class="panel panel-default">
    <div class="panel-body">

  <h3>
    ゲーム制作とは？
  </h3>

</div>
</div>
</div>

<p>
  子供の頃に、誰でもテレビゲームで遊んだことはありますよね！
</p>

<p>
  RPGにアドベンチャー、サウンドノベルにシミュレーションなど、ゲームのジャンルはとても豊富です。
</p>

<p>
  ゲームを作るためには、プログラミングなどの高度な技術が必要ですが、中には専門的な知識や技能なしでゲームを作る方法があるんです。
</p>

<p>
  あなたの手でオリジナルのゲームを作ってみませんか？
</p>
<div class="panel panel-default">
  <div class="panel-body">

<h2>
  ゲームのジャンル
</h2>

</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  RPG
</h2>

</div>
</div>

<p>
  ゲームというとまず、RPGを思い浮かべる方も多いと思います。
</p>

<p>
  日本は世界でもＲＰＧ大国として知られており、世界的に有名なＲＰＧゲームが多数存在します。
</p>

<p>
  RPGはストーリー、マップ、戦闘など様々な要素を含む、作りごたえのあるジャンルです。
</p>

<p>
  そのため、初めてゲームを作る初心者には、やることが多いため大変だと思うかもしれません。
</p>

<p>
  ですがその分、完成させることができた時の感動はひとしおです。
</p>

<div class="panel panel-default">
  <div class="panel-body">

  <h2>
    アドベンチャー
  </h2>

</div>
</div>

  <p>
    アドベンチャーゲームはとても種類が豊富です。
</p>

<p>
  しかし、初心者におすすめのアドベンチャーゲームといえば、脱出ゲームでしょう。
</p>

<p>
  グラフィックやストーリーに力を入れなくとも、ある程度面白いものが作れるところがアドベンチャーゲームが初心者におすすめの要因の一つです。
</p>

<p>
  その一方で、暗号や謎解きなどに力を入れる必要があります。
</p>

<div class="panel panel-default">
  <div class="panel-body">

  <h2>
    ノベル
  </h2>

</div>
</div>

  <p>
    サウンドノベルやビジュアルノベルと呼ばれるジャンルです。
  </p>

  <p>
    小説をゲームにしたようなものといえば、わかりやすいでしょうか？
  </p>

  <p>
    このジャンルで重要なのはとにかくストーリーです。
  </p>

  <p>
    小説に近い感覚で書き進めることになりますが、小説と違い、会話文が多いことが特徴です。
  </p>

<p>
  また、効果音を入れることができるため、小説よりも臨場感のあるものを作ることができます。
</p>

<p>
  特に細々とした数字をいじるのが苦手な方におすすめしたいジャンルです。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h3>
  ゲーム制作の良いところ
</h3>

</div>
</div>

<%= image_tag "game_production1.jpg", :class => "img-responsive img-thumbnail" %>

<div class="pic_bottom">

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  オリジナル作品が作れる！
</h2>

</div>
</div>
</div>

<p>
  ゲーム制作の最大の楽しみは自分の作ったゲームがパソコン上で動くのを見ることです。
</p>

<p>
  自分で作ったキャラクターが実際に動いたり、しゃべるのを見れば感動するでしょう！
</p>

<p>
  小説や脚本を書くことは比較的簡単にできますが、自分の作ったキャラクターを動かし、しゃべらせることはなかなか簡単にはできません。
</p>

<p>
  しかし、ゲーム制作用のツールを使えばこうしたことが比較的簡単にできます。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  プロになれるかも！？
</h2>

</div>
</div>

<p>
  ゲーム制作を趣味とする方の多くは自分の作品をネット上に公開します。
</p>

<p>
  多くの人に遊んでもらい、有名な作品になれば、小説化や漫画化、映画化する作品になることもあります。
</p>

<p>
  実際に、ゲームを原作とした漫画や小説も多数存在します。
</p>

<p>
  アマチュアとプロの垣根が低いのがゲーム制作の世界です。
</p>

<p>
  才能と運があれば、プロのゲームクリエイターになれるかもしれません。
</p>

<p>
  映画化まではいかなくても、自作ゲームコンテストに参加して多くの人に遊んでもらえるだけでも、気持ちの良いものですよ。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h3>
  ゲーム制作の始め方
</h3>

</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  ジャンルを選ぶ
</h2>

</div>
</div>

<p>
  ゲーム制作を始めるにあたって、まずはゲームのジャンルを決めましょう。
</p>

<p>
  作るゲームのジャンルによって異なるゲーム制作ツールがあるためです。
</p>

<p>
  用いるツールはRPGやアドベンチャーなら RPGツクール や WOLF RPGエディター 、ノベルゲームなら ティラノビルダー が初心者にも使いやすいでしょう。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  素材を探す
</h2>

</div>
</div>

<p>
  ゲームのジャンルと作成ツールが決まったら次に素材を探します。
</p>

<p>
  素材とはキャラクターの絵やBGM、背景などゲーム制作に用いるおおよそすべてのものを指します。
</p>

<p>
  ネット上には無料で素材を提供してくれる素材サイトが多数存在します。
</p>

<p>
  事前に作っておいたストーリーをもとに素材を探すのもよいですし、 こうしたサイトの素材をもとにゲームのストーリーを考えるのもよいでしょう。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  ゲームを公開しよう
</h2>

</div>
</div>

<p>
  自分のゲームを作ることができたら、ぜひ公開しましょう。無料でゲームを公開できるサイトはたくさんあります。
</p>

<p>
また、公開したゲームがたくさんの人に遊んでもらえれば、ゲームが完成した喜びも大きくなるでしょう。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h3>
  まとめ
</h3>

</div>
</div>

<%= image_tag "game_production2.png", :class => "img-responsive img-thumbnail" %>

<p class="pic_bottom">
  子供のころに遊んだゲームを自分の手で作れれば、良いと思いませんか？
</p>

<p>
  ゲーム制作にはお金がかからず、体力も必要ありません。
</p>

<p>
  また、イラストや写真、小説執筆など、他の趣味を制作に活かすこともできますよ。
</p>

<p>
  作ったゲームが有名になれば、プロになれるかもしれません。

</p>

<p>
  試しにアマチュアゲームクリエーターとしてデビューしてみませんか？
</p>

</div>
</div>
</div>
</div>
