<% provide(:title, "囲碁") %>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
  <div class="panel panel-default">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">
  <h1>囲碁</h1>
</div>
</div>

  <div class="panel panel-default">
    <h3>興味タイプ：I</h3>
  </div>

  <%= image_tag "go1.jpg" , :class => "img-responsive img-thumbnail" %>

<div class="pic_bottom">
  <div class="panel panel-default panel-info">
    <div class="panel-heading">
  <h3>
    囲碁とは？
  </h3>
</div>
</div>
</div>

<p>最近人工知能関係で有名になった囲碁。皆さん、囲碁をやったことはありますか？
</p>

<p>
  お年寄りが縁側でやっているゲームというイメージがあると思いますが、近年、世界中で急速に人気を高めているゲームなんです。
</p>

<p>
  国籍・人種・年齢・性別に関わらず世界中で楽しまれている囲碁。楽しいだけでなく、様々なメリットもあるんです。そんな囲碁を詳しくなってみませんか？
</p>

  <div class="panel panel-default">
  <h2>
    囲碁ってなにをするの？
  </h2>
</div>

<div class="youtube_container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/cdBzgaebhN8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>
  １９×１９マスの基盤の上で、白と黒の意思を交互において、最終的に相手よりも多くの陣地を取ったほうが勝ちというルールで、単純でありながら複雑なゲームです。
</p>

<p>
  先手は黒で、一度置いた石を動かしたり、取り除くことができません。そのため、一度置いた石を考慮しながら戦略を立てていく必要があるのです。
</p>

<p>
  子供でも覚えるのが簡単なルールでありながら、戦略性があるゲーム性は日本のみならず世界中で大人から子供まで楽しむことができます。
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
  囲碁の良いところ
</h3>
</div>
</div>

<div class="pic_bottom">
<div class="panel panel-default">
<h2>
集中力・思考力のパワーアップ！
</h2>
</div>
</div>

<%= image_tag "jigsaw_puzzle3.jpg" , :class => "img-responsive img-thumbnail" %>

<p>
  囲碁は昔から、集中力や思考力といった人間の知能を鍛える手段として注目されてきました。
</p>

<p>
  最終的にどのように陣地を手に入れるか考えながら、一手一手石を置いていく必要があるため、強い集中力と思考力が求められます。
</p>

<p>
  そのため、囲碁を継続的に楽しんでいけば、集中力や思考力といった知能を鍛えることができるのです。
</p>

<div class="panel panel-default">
<h2>
  世界中の人と楽しめる！
</h2>
</div>

<div class="youtube_container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/chbo7IIBZvc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>
  人工知能の開発で使われているほどに世界中でメジャーになりつつあるゲームである囲碁。
</p>

<p>
  そのため、世界中の人と囲碁を楽しむことができるようになっているのです。実際に、囲碁の世界大会はよく行われており、言葉の通じない人同士でも、競い合うことができるのです。
</p>

<p>
世界大会に出るのは難しいですが、腕に自信がついたならば、地域の大会に出場してみるのもよいかもしれません。
</p>

<p>
  囲碁はルールさえ覚えれば、国籍・性別・年齢に関係なく楽しむことができますので、どんな方にもおすすめできますね。
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
  囲碁の始め方
</h3>
</div>
</div>

<%= image_tag "go2.jpg" , :class => "img-responsive img-thumbnail" %>

<div class="panel panel-default">
<h2>
囲碁に必要な道具はなに？
</h2>
</div>

<p>
  囲碁は碁盤と碁石さえあれば誰でも簡単に始めることができます。そのため、それほどお金を使わなくても始めることができるでしょう。
</p>

<p>
  また、インターネットやスマートホンのアプリを使えば、実物の碁盤や碁石がなくても遊ぶことができますので、まずはインターネットやアプリから始めてみるのもよいでしょう。
</p>

<div class="panel panel-default">
<h2>
ルールを詳しく知りたい
</h2>
</div>

<p>
  全国の書店にいくらでも囲碁の解説書があるので、それを読むことをお勧めします。値段も安く、囲碁の上達方法もたくさん書いているため、初心者でもすぐに上達できると思います。
</p>

<p>
  また、インターネットにも囲碁のルールを説明しているサイトをたくさんあるので、そちらを参考にするのもよいと思います。
</p>

<div class="panel panel-default">
<h2>
対戦相手を見つけよう
</h2>
</div>

<p>
  囲碁は対戦ゲームなので、一人ではできませんが、日本中のどこにでも囲碁のサークルや集まりがあるため、対戦相手についてはそれほど気にしなくてもよいでしょう。
</p>

<p>
  また、インターネットを使えば、いつでも対戦相手を見つけることができますので、自分の生活時間に合わせて囲碁を楽しむことができます。
</p>

<p>
  人工知能を使った無料の囲碁のアプリなどがたくさんありますので、とりあえず気楽に始めてみるとよいでしょう。
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
  まとめ
</h3>
</div>
</div>

<div class="youtube_container">
<iframe width="560" height="315" src="https://www.youtube.com/embed/Q7KZ1nXaBXk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p class="pic_bottom">
誰でも簡単に覚えることができる簡単なルールなのに、大人から子供まで楽しむことができる複雑な戦略性を持つゲームである囲碁。
</p>

<p>
近年では、世界中で楽しまれており、国際的な大会も多数行われています。
</p>

<p>
頭の体操にもなりますし、何より碁石を碁盤にパチンと置いていくのはテンション上がりますよ。
</p>

<p>
囲碁は始めるのが簡単なので、まずは気軽に始めてみてください。
</p>

  </div>
  </div>
  </div>
  </div>
