<div class="hobby_page">
  <h1>ジャム作り</h1>
  <p>興味タイプ</p>
  <h3>ARC</h3>

  <%= image_tag("jam2.jpg") %>




<p>
ジャム作りとは？
</p>

<p>
  ジャムづくりってなにをするの？
</p>

<p>
  春や夏のころにスーパーの生鮮食品コーナーに行くとたくさんの果物が置いていることを見ることはありませんか？また、ご家庭で野菜やフルーツを作られている方であれば、その保存方法に悩んだ経験があると思います。それでしたら、新鮮なフルーツをカットして、ジャムを作ってみましょう。そのまま食べてもおいしいですし、ヨーグルトやクラッカーに乗せてもおいしくいただけます。
</p>

<p>
ジャムづくりの良いところ
</p>

<%= image_tag("jam1.jpg") %>

<p>
  おいしいジャムを楽しめる
</p>

<p>
一度でも手作りジャムを食べてみれば、そのおいしさに驚くことでしょう。手作りジャムは添加物や保存料などが入っていないため、健康によい甘味料であるだけでなく、フルーツ自身から出た自然そのままの甘さを堪能できます。
</p>

<p>
長期保存ができる
</p>

<p>
  ひと手間を加えてジャムにするだけで、保存期間が長くなります。

  例えば、春にでまわるイチゴは早いものだと一週間ほどでイチゴの表面がぐにょぐにょと傷んできて見栄えも悪くなってしまいます。

  そこでイチゴが痛み始める前に、イチゴジャムにしてしまいましょう。

  冷蔵庫で約２週間。冷凍庫だと約１年間の保存が可能です。

  これでいつでも好きな時においしいイチゴジャムを味わうことができます。

</p>

<p>
  そのままでは食べにくいフルーツをおいしくさせる
</p>

<p>
  グレープフルーツやレモンなどそのまま食べるには、すっぱすぎるフルーツもジャムにしてしまえば、おいしくいただけます。

  砂糖を加えることで甘さを付け足すことができますし、熱を加えることでフルーツの酸味を弱めることができ、さっぱりとしたおいしいジャムになります。

  後味もさっぱりとしていて、様々なお菓子作りにもお使いできます。
</p>

<p>
  ジャムづくりの始め方
</p>


<p>
必要なものは？
</p>

<p>
  ジャムづくりに必要なものはフルーツ、砂糖とレモン果汁の三つだけです。お好みで、シナモンやバニラで風味付けする人もいますので、お好きなものを使ってみるのもよいでしょう。あまりいろいろなものを入れてしまうとジャムがきちんと固まらずにトロトロになりすぎてしますのでご注意ください。
</p>

<p>
ジャムのレシピは？
</p>

<p>
お近くの書店や図書館にたくさんの料理レシピがありますので、立ち寄ってみるのもよいでしょう。
インターネットにも、手作りジャムのレシピを載せているところがたくさんあるので、そのようなところを見てみるのもおすすめです。
</p>

<p>
  まとめ
</p>
<%= image_tag("jam3.jpg") %>

<p>
  「手作りフルーツジャム」いかがでしょうか？作り始めてしまえば30分ほどで作れるので、朝食時になにか物足りないな～というときにもすぐに作って食べることができます。自分の身体は安心・安全でおいしいものでお腹を喜ばせてあげたいですよね。

  瓶にいれると見た目にもかわいい手作りジャムはプレゼントにもぴったりです。「手作りジャム生活」にトライしてみましょう。</p>
