<% provide(:title, "ジャム作り") %>
<div class="container">
  <div class="panel panel-default">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">

  <h1>ジャム作り</h1>

</div>
</div>

  <div class="panel panel-default">
    <div class="panel-body">

    <h3>興味タイプ</h3>
    <h3>ARC</h3>

  </div>
  </div>

  <%= image_tag "jam2.jpg" , :class => "img-responsive img-thumbnail" %>

<div class="pic_bottom">

  <div class="panel panel-default">
    <div class="panel-body">

  <h3>
    ジャム作りとは？
  </h3>

</div>
</div>
</div>

  <div class="panel panel-default">
    <div class="panel-body">

  <h2>
    ジャムづくりってなにをするの？
  </h2>

</div>
</div>

<p>
  春や夏のころにスーパーの生鮮食品コーナーに行くとたくさんの果物が置いていることを見ることはありませんか？
</p>

<p>
  また、ご家庭で野菜やフルーツを作られている方であれば、その保存方法に悩んだ経験があると思います。
</p>

<p>
  それでしたら、新鮮なフルーツをカットして、ジャムを作ってみましょう。
  そのまま食べてもおいしいですし、ヨーグルトやクラッカーに乗せてもおいしくいただけます。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h3>
  ジャムづくりの良いところ
</h3>

</div>
</div>

<%= image_tag "jam1.jpg" , :class => "img-responsive img-thumbnail" %>

<div class="pic_bottom">

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  おいしいジャムを楽しめる
</h2>

</div>
</div>
</div>

<p>
  一度でも手作りジャムを食べてみれば、そのおいしさに驚くことでしょう。
</p>

<p>
  手作りジャムは添加物や保存料などが入っていないため、健康によい甘味料であるだけでなく、フルーツ自身から出た自然そのままの甘さを堪能できます。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  長期保存ができる
</h2>

</div>
</div>

<p>
  ひと手間を加えてジャムにするだけで、保存期間が長くなります。
</p>

<p>
  例えば、春にでまわるイチゴは早いものだと一週間ほどでイチゴの表面がぐにょぐにょと傷んできて見栄えも悪くなってしまいます。
</p>

<p>
  そこでイチゴが痛み始める前に、イチゴジャムにしてしまいましょう。
</p>

<p>
  冷蔵庫で約２週間。冷凍庫だと約１年間の保存が可能です。
</p>

<p>
  これでいつでも好きな時においしいイチゴジャムを味わうことができます。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  そのままでは食べにくいフルーツをおいしくさせる
</h2>

</div>
</div>

<p>
  グレープフルーツやレモンなどそのまま食べるには、すっぱすぎるフルーツもジャムにしてしまえば、おいしくいただけます。
</p>

<p>
  砂糖を加えることで甘さを付け足すことができますし、熱を加えることでフルーツの酸味を弱めることができ、さっぱりとしたおいしいジャムになります。
</p>

<p>
  後味もさっぱりとしていて、様々なお菓子作りにもお使いできます。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h3>
  ジャムづくりの始め方
</h3>

</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  必要なものは？
</h2>

</div>
</div>

<p>
  ジャムづくりに必要なものはフルーツ、砂糖とレモン果汁の三つだけです。
</p>

<p>
  お好みで、シナモンやバニラで風味付けする人もいますので、お好きなものを使ってみるのもよいでしょう。
</p>

<p>
  あまりいろいろなものを入れてしまうとジャムがきちんと固まらずにトロトロになりすぎてしますのでご注意ください。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  ジャムのレシピは？
</h2>

</div>
</div>

<p>
  お近くの書店や図書館にたくさんの料理レシピがありますので、立ち寄ってみるのもよいでしょう。
</p>

<p>
インターネットにも、手作りジャムのレシピを載せているところがたくさんあるので、そのようなところを見てみるのもおすすめです。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h3>
  まとめ
</h3>

</div>
</div>

<%= image_tag "jam3.jpg" , :class => "img-responsive img-thumbnail" %>

<p class="pic_bottom">
  簡単に作れるのにとてもおいしい手作りジャムはどうでしょうか？
</p>

<p>
  作り始めてしまえば30分ほどで作れるので、朝の忙しい時にも素早く作って少食に使うことができます。
</p>

<p>
  手作りなので、安全でおいしいジャムは自分だけでなく家族や友達にも喜ばれるでしょう。
</p>

<p>
  瓶にいれると見た目にもかわいい手作りジャムはプレゼントにもぴったりです。
</p>

<p>
  手作りジャムをちょっと作ってみませんか？
</p>

  </div>
