<% provide(:title, "麻雀") %>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
  <div class="panel panel-default">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">
  <h1>麻雀</h1>
</div>
</div>

  <div class="panel panel-default">
    <h3>興味タイプ：IE</h3>
  </div>

  <%= image_tag "mahjong2.jpg" , :class => "img-responsive img-thumbnail" %>

<div class="pic_bottom">
  <div class="panel panel-default panel-info">
    <div class="panel-heading">
  <h3>
    麻雀とは？
  </h3>
</div>
</div>
</div>

<p>麻雀を題材にした漫画を読んだことはありますか？</p>

<p>
  昔の麻雀漫画はギャンブルを舞台にしたものが多かったですが、
  最近の麻雀漫画はスポーツライクなものも増えてきました。
</p>

<p>
  一見難しそうに見える麻雀ですが、実は年齢・性別に関係なく誰でも楽しく遊べるゲームなんです。
</p>

<p>
  今回はそんな麻雀についてちょっと詳しくなってみませんか？
</p>

  <div class="panel panel-default">
  <h2>
    麻雀ってなにをするの？
  </h2>
</div>

<div class="youtube_container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/KCIOPDKCDHQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>
  麻雀とは、数字や文字の書かれた牌を特定の組み合わせ（これを役と言います）で集めることで点数が手に入るゲームです。
</p>

<p>
  人数は関西では３人、関東では４人で行うことが多く、友達と一緒に遊ぶことができます。
</p>

<p>
  役がもう少しで揃いそうになったら、「リーチ」ということで、役がそろったときに点数が手に入り、それ以外にも様々な点数を手に入れるルールがあります。
</p>

<p>
  最終的に最も点数が多い人が優勝するゲームです。
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
  麻雀の良いところ
</h3>
</div>
</div>

<div class="panel panel-default">
<h2>
脳のトレーニングに！
</h2>
</div>

<%= image_tag "chess2.jpg" , :class => "img-responsive img-thumbnail" %>

<p>
  麻雀は牌をそろえるだけでも点数が手に入りますが、もっと高得点を狙い始めると、役牌を覚える必要があります。
</p>

<p>
  役牌とは、通常よりも高得点を得ることができる牌の組み合わせのことです。ポーカーなどのフルハウスやストレートのようなものと考えるとわかりやすいかもしれません。
</p>

<p>
  そのため、お年寄りの方がボケ防止のために麻雀を始めるということも多いそうです。
</p>

<p>
  頭と手を使って行うゲームですし、多くの人とコミュニケーションしながら行うことができるので、脳の活性化にうってつけです。
</p>

<div class="panel panel-default">
<h2>
みんなで遊べる
</h2>
</div>

<%= image_tag "chess3.png" , :class => "img-responsive img-thumbnail" %>

<p>
  麻雀はチェスや将棋と違って３人でも４人でも遊ぶことができます。そのため、麻雀は友達と一緒にワイワイ遊ぶことができるゲームです。
</p>

<p>
  また、正月や大みそかに親戚が集まって麻雀を遊ぶというのはよく聞く話ですね。
</p>

<p>
  お年寄りから子供までルールを覚えれば、性別・年齢に関係なく遊ぶことができるというところも麻雀の魅力の一つです。
</p>

<div class="panel panel-default">
<h2>
戦略を立てる楽しみ
</h2>
</div>

<p>
  麻雀を運だけのゲームだと勘違いしていませんか？
</p>

<p>
   もちろん運の要素もあるのですが、相手が捨てた牌から相手の狙っている役を予想して、相手の役の完成を防いだり、逆に相手の捨てた牌を利用して自分の役を完成させるということもできるんです。
</p>

<p>
  相手の思考を読み切って自分の思うとおりに戦略がうまくいくと、きっと踊りだしそうになるくらい楽しいですよ！
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
  麻雀の始め方
</h3>
</div>
</div>

<div class="panel panel-default">
<h2>
どこに麻雀の道具は手に入るの？
</h2>
</div>

<%= image_tag "mahjong1.jpg" , :class => "img-responsive img-thumbnail" %>

<p>
  麻雀はおもちゃ屋さんでも売られていますし、デパートなどにも置いていますので、お近くのお店に行ってみると良いでしょう。
</p>

<p>
  ちょっと変わったところだと、リサイクルショップにも置いてあることもあります。おもちゃ屋やデパートと比べると、圧倒的に安いのでお勧めの購入先です。
</p>

<p>
  最近だと、インターネットを使った購入方法もよいと思います。Amazonなどのネットショップは十店舗で買うよりも安いことが多く、そして何より麻雀の道具を自宅まで届けてくれます。麻雀の道具は地味に重いので、筋肉に自信がない方はこちらのほうが良いでしょう。
</p>

<p>
初めてなので、お金を使いたくないという人はインターネット上に麻雀で遊べるサイトやスマートホンで無料の麻雀アプリがあるので、それで遊んでみるというものよいと思います。
</p>

<div class="panel panel-default">
<h2>
ルールを知りたい
</h2>
</div>

<div class="youtube_container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/t7LJUo7mPvM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>
  麻雀の簡単なルールはインターネットで検索すればすぐに出てくるので、最初は本を買わなくてもよいでしょう。
</p>

<p>
  ある程度麻雀を遊んで、もう少し麻雀を詳しくなりたいと思ったら本を手に入れることをおすすめします。お近くの書店でも麻雀の本は手に入れることはできますし、時間に余裕があれば、図書館に行ってみましょう。書店では売っていないような本格的な本を借りることができるかもしれません。
</p>

<p>
  それ以外には、知り合いに教えてもらうというのはどうでしょうか？年上の方は大抵麻雀を知っているので、そういう方に教えてもらいましょう。麻雀を知っている人から教えてもらえれば、そのまま一緒に遊ぶこともできますし、麻雀をする中で人とのつながりも生まれていきます。
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
  まとめ
</h3>
</div>
</div>

<div class="youtube_container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/TykBoUp8cew" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p class="pic_bottom">
  どうでしたか？麻雀について詳しくなることができたでしょうか？
</p>

<p>
  麻雀は皆さんが思っているほど難しいゲームではありません。一度ルールを覚えてしまえば、麻雀の道具が置いてある所ならば、いつでも遊ぶことができます。
</p>

<p>
  親戚や友達同士、自分よりも年齢の高い人とでも、遊ぶことができるので、幅広い年齢層の人と友達になるよいコミュニケーションツールにもなるでしょう。
</p>

<p>
  特に値段が高い道具も必要ではありませんし、インターネット上にいくらでも無料で遊ぶことができるサイトやアプリがあるので、まずは気軽に麻雀を始めてみてはいかがでしょうか？
</p>

  </div>
  </div>
  </div>
  </div>
