<div class="hobby_page">
  <h1>瞑想</h1>
  <p>興味タイプ</p>
  <h3>R</h3>

  <%= image_tag("meditation3.jpg") %>




<p>
  瞑想とは？
</p>

<p>
  世界的に注目を集めている瞑想
</p>

<p>
目を閉じて足を組み、自分の呼吸に集中する。たったこれだけですが、仏教徒のみならず世界中の科学者や富裕層の人たちに注目されてきている趣味の一つです。スティーブジョブズを代表とするシリコンバレーの起業家たちにも注目されています。
</p>

<p>
  瞑想の種類は？
</p>

<p>
  瞑想の種類はいくつかありますが、科学的に効果があると証明されている瞑想方法は４種類あります。

  呼吸瞑想
  呼吸の感覚に意識を向け続ける瞑想で、おそらく多くの人が瞑想という言葉を聞いたときに最初に思いつく瞑想方法がこれです。

  ボディスキャン瞑想

  体の各部位に対して、順番に意識を向けていく瞑想です。ほかの瞑想方法と比べて、飽きづらく簡単にできるところが良いところでしょう。

  慈悲の瞑想

  自分や他人の幸福を祈りながら行う瞑想です。一見すると、宗教チックで敬遠したくなるような瞑想法ですが、その効果はほかの瞑想と比べても、遜色はないだけでなく、簡単にできるので、世界中の科学者がその効果を認めざる負えないという瞑想方法です。

  ヴィパッサナー瞑想

「心の動き」や「思考自体」に集中して行う瞑想方法です。自分の心の動きを心の中で実況していきながら瞑想していくため、ほかの瞑想方法と比べると難しいですが、その効果は素晴らしく、ブッダが行っていた瞑想もこれであるとされております。
</p>

<p>
瞑想の良いところ
</p>
<%= image_tag("meditation1.jpg") %>

<p>
  ダイエットに効く
</p>

<p>
  瞑想がダイエットに効果ありということを聞くと、この人何に行ってるんだろうという感じがしますが、多くの論文でその効果が認められております。具体的には、約１２時間ほどの瞑想を行うことで平均４キロほどの体重減少に効果が認められております。合計で１２時間の瞑想を行えばよいので、週末に３０分くらいから始めてみるとよいのではないでしょうか。

</p>

<p>
  時間や場所に関係なく続けられる
</p>

<p>
  瞑想の良いところの一つとして、時間や場所に縛られることなく、瞑想を行えるというところがあります。瞑想に必要なスペースといえば、人が一人座れるくらいのスペースがあればよいので、それほど大きな場所が必要というわけではなりませんし、いつ瞑想をするかということについても、自分の好きな時間に行うことができます。
</p>

<p>
  不安に強くなる
</p>

<p>
  瞑想の効果は多くありますが、最も効果を科学的に認められているものとして、不安感に対して耐性がつくようになることです。日本人は生まれつき遺伝子レベルで不安感を感じやすい人が多く、それが原因でストレスを感じやすい人が多いです。瞑想をする人といえばお坊さんのような仏教徒が多いと思いますが、お坊さんだけでなく、ストレスや不安を感じやすい多くの日本人におすすめしたい趣味です。
</p>

<p>
瞑想の始め方
</p>



<p>
  瞑想に必要な道具とは？
</p>

<p>
  特に何もなくとも、瞑想はできますが、あったほうが良い道具というものがあります。
  １．何か座れるもの
  座禅を行うお坊さんたちは主に瞑想専用の座布と呼ばれる座布団の上に座って瞑想をしていますが、別に普通の座布団の上に座って瞑想しても問題ありませんし、なんでしたら、まくらなどを座布団代わりに使うというのでも問題ありません。地べたにそのまま座るのが嫌な人であれば、椅子に座って瞑想を行うというスタイルでも問題はありません。自分が最もリラックスできるスタイルで瞑想をするとよいでしょう。

  ２．タイマー
  瞑想に集中していると、ついつい時間を忘れてしまいがちです。お寺であれば、ほかの人が時間を知らせてくれるのですが、一般のご家庭ではなかなか難しいでしょう。そのため、タイマーを使って時間を図っておくことが良いでしょう。タイマーとか持ってないですという人はスマートホンのアプリでも問題ありません。
</p>

<p>
瞑想の座り方
</p>

<p>
  瞑想の種類によって、やり方は異なりますが、いくつか注意点というものが存在します。

  １．背筋を伸ばす
  瞑想をする際は、背筋を伸ばしておきましょう。背筋が曲がっていると、どうしてもだんだん眠くなってきたり、集中力がなくなりがちです。

  ２．手の位置や足の形は気にしなくてもよい
  瞑想をする際に、足の組み方や手の位置を気にする人もいますが、自分の最もリラックスできるスタイルで問題ありません。あぐらで瞑想してもよいですし、手の位置も自分の置きやすいところに置いておけばよいでしょう。
</p>

<p>
  まとめ
</p>
<%= image_tag("meditation2.jpg") %>

<p>
  適当なところに座って、呼吸に集中する。たったこれだけですが、世界中で注目されており、その科学的効果もすさまじいです。一日寝る前にちょっとやるだけでも効果があるので、一度やってみてはいかがでしょうか
</p>
