<% provide(:title, "ナンバープレイス") %>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
  <div class="panel panel-default">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">
  <h1>ナンバープレイス</h1>
</div>
</div>

  <div class="panel panel-default">
    <h3>興味タイプ：IC</h3>
    <h3></h3>
  </div>

  <%= image_tag "number_place1.jpg", size:"460x410", :class => "img-responsive img-thumbnail" %>

<div class="pic_bottom">
  <div class="panel panel-default panel-info">
    <div class="panel-heading">
  <h3>
    ナンバープレイスとは？
  </h3>
</div>
</div>
</div>

<p>
  本屋さんにある懸賞付きパズルや懸賞付きスマホアプリなどでよく見かけるナンバープレイス。
  ルールは簡単で分かりやすく、難易度も幅広く選べるため、お年寄りから子供まで楽しむことができますね。
  ゲーム終盤になると、空いているマスを一気に埋められるようになるため、爽快感もあります。
</p>

<p>
  運が良ければ、懸賞も手に入る簡単で楽しいナンバープレイスをちょっと詳しくなってみませんか？
</p>


<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
ナンバープレイスのよいところ
</h3>
</div>
</div>

<div class="panel panel-default">
<h2>
  簡単で覚えやすいルール
</h2>
</div>

<%= image_tag "number_place2.jpg", size:"460x410", :class => "img-responsive img-thumbnail" %>

<p>
  ナンプレは縦９マス×横９マスの空マスでできており、そのマスを縦３マス×横３マスのブロックに分けるように太い枠で囲んでいます。
  そのブロックに１から９の数字を重複しないように埋めていきます。
  さらに、マスに入れた数字は縦横・太枠の中で重複しないようにしなくてはいけません。
</p>

  <p>
    以上がナンバープレートのルールですが、文章で説明されてもよくわからないと思いますが、
    上の画像を見ればナンバープレイスの形とルールがより理解しやすいのではないでしょうか？
   </p>

   <div class="panel panel-default">
   <h2>
懸賞が手に入るかも！？
   </h2>
 </div>

 <%= image_tag "number_place3.jpg", size:"460x410", :class => "img-responsive img-thumbnail" %>

  <p>
    ナンバープレイスはたいてい懸賞付きのゲームとセットになっていることが多く、運が良い人であれば懸賞を当てることができるでしょう。
</p>

<p>
  本屋に行けば、懸賞付きナンバープレイスが置いてありますし、スマートホンにも懸賞付きナンバープレイスのアプリがたくさんあります。
  紙のナンバープレイスは電池を消耗しないため、旅行などの移動時間に行うのに向いていると思います。
</p>

  <p>
    一方、スマートホンのナンバープレイスは電池は消耗しますが、持ち運びに便利でたくさんのナンバープレイスの問題を解くことができますので、
    自宅や職場などの充電ができるところの近くで楽しむのに向いているでしょう。
  </p>

  <p>
    このように、あなたの気分やライフスタイルによって、自由に媒体を選べるのも魅力の一つです。
  </p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
  ナンバープレイスの始め方
</h3>
</div>
</div>

<div class="pic_bottom">
<div class="panel panel-default">
<h2>
  ナンバープレイスの問題を手に入れよう！
</h2>
</div>
</div>

<div class="youtube_container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/bi1inUQX9HQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>
ナンバープレイスに必要なものはナンバープレイスの問題と鉛筆くらいでしょう。
１００円ショップなどにナンバープレイスの問題が置いてあるので、それを買ってきてもよいですし、スマートホンのプリをダウンロードしてきてもよいと思います。
</p>

  <p>
    あえておススメのものを挙げるとするなら、懸賞付きのものがおすすめです。
    ナンバープレイスを楽しめて懸賞も手に入るのって素敵ですよね！
</p>


 <div class="panel panel-default panel-info">
   <div class="panel-heading">
 <h3>
   まとめ
 </h3>
</div>
</div>

<div class="youtube_container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/uCBCDm1GLyA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

    <p class="pic_bottom">
どうでしたか？すこしでもナンバープレイスについて詳しくなることができたでしょうか？
    </p>

    <p>
ナンバープレイスはルールは簡単に覚えられて短い時間にサクッとできるゲームです。
必要になる道具もナンバープレイスの問題と鉛筆くらいなものです。
    </p>

    <p>
      懸賞付きのナンバープレイスもありますので、懸賞目当てでやってみるというのもよいでしょう。
      </p>

    <p>
旅行の移動時間やちょっと暇なときにさくっと楽しむことができるので、試しにナンバープレイスを遊んでみるのはいかがでしょうか？
    </p>

</div>
</div>
</div>
</div>
