<% provide(:title, "オセロ") %>
<div class="container">
  <div class="row">
    <div class="col-md-7 col-xs-12 col-sm-12">
  <div class="panel panel-default">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">
  <h1>オセロ</h1>
</div>
</div>

  <div class="panel panel-default">
    <h3>興味タイプ：I</h3>
    <h3></h3>
  </div>

  <%= image_tag "othello2.jpg", size:"460x410", :class => "img-responsive img-thumbnail" %>

<div class="pic_bottom">
  <div class="panel panel-default panel-info">
    <div class="panel-heading">
  <h3>
    オセロとは？
  </h3>
</div>
</div>
</div>

<p>
  誰もが一度は目にしたことがあるオセロは日本生まれのボードゲームです。
</p>

<p>
  オセロは日本オセロ連盟元会長である長谷川五郎によって作られました。
</p>

<p>
始めは病院で患者のリハビリ用のゲームとして広まっていきましたが、ルールが覚えやすく、すぐにゲームを楽しめることから、日本のみならず、世界中に広まっていきました。
</p>

<p>
  現在では全国で大会が開催され、日本だけでなく世界大会も行われています。
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
  オセロのよいところ
</h3>
</div>
</div>

<div class="panel panel-default">
<h2>
  シンプルなのに奥の深いゲーム
</h2>
</div>

<p>
  オセロは、白黒の石を交互に置いて、相手の石を挟んで自分の石の色に替える、そして最後に石の色が多い方が勝ちという簡単なボードゲームです。
</p>

  <p>
     しかし、人工知能ですら読み切れないほどにゲーム展開は無数にあり、プレーヤーのレベルによってどんどんゲーム展開が高度になるので、奥が深く飽きの来ないゲームと言えるでしょう。
   </p>

   <div class="panel panel-default">
   <h2>
     誰でも一度はやったことがある始めやすいゲーム
   </h2>
 </div>

  <p>
    オセロをやったことのない日本人はいないのではないでしょうか？
</p>

<p>
  ルールがシンプルであり価格も安いので、学校や旅先で見かけて遊んだことがあるという方が多いのではないでしょうか？
</p>

  <p>
    また，初めての人であっても数分あればルールを覚えられますので、誰とでもすぐに遊べます。
  </p>

  <p>
    こういうところから、オセロは初心者でも始めやすいボードゲームと言えますね。
  </p>

  <div class="panel panel-default">
     <h2>
       シンプルなのに奥の深いゲーム
     </h2>
   </div>

  <p>
日本では圧倒的人気のボードゲーム、それがオセロ！
</p>

<p>
  日本人になじみ深いボードゲームといえば、将棋や囲碁でしょうか？
</p>

<p>
  どちらもオセロと比べてゲームの歴史は長いのですが、ゲーム人口となると、将棋が1000万人、囲碁が1500万人ほどなのに対し、オセロはなんと6000万人という圧倒的に多いゲーム人口なのです。
</p>

<p>
  また、子供のための大会や、上級者同士の大会など様々な大会が各地で開催され、年に一度世界大会も行われています。
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
  オセロの始め方
</h3>
</div>
</div>

<%= image_tag "othello3.jpg" , :class => "img-responsive img-thumbnail" %>

<div class="pic_bottom">
<div class="panel panel-default">
<h2>
  必要な道具は？
</h2>
</div>
</div>

<p>
  オセロの最大の魅力の一つとして、安く簡単に始められるというものがあります。
</p>

  <p>
    ゲームボードのオセロも1,500円前後と求めやすい価格ですし、パソコンやスマートフォンがあれば、いくらでもオセロのアプリや無料ゲームを見つけられるので、すぐに始められます。
</p>

<div class="panel panel-default">
 <h2>
   一人でオセロはできる？
 </h2>
</div>

  <p>
    オセロは対戦型のボードゲームなので、対戦相手が見つけられないと出来ないのでは、と考える人も多いでしょう。
</p>

  <p>
     しかし、今ではパソコンやスマートフォンで、簡単にネット対戦出来ますし、パソコンやスマートフォンのアプリなどを使えば、人工知能が対戦相手となってくれるので、一人でも簡単にプレイできます。
 </p>

 <div class="panel panel-default">
 <h2>
   オセロを極めたい！
 </h2>
</div>

 <p>
   オセロにも将棋や碁と同じように段位や級位があるのをご存知ですか？
 </p>

 <p>
   これは日本オセロ連盟が段位を認定できる大会に参加して条件を満たすことで、初段から10段までの段位と、7級から1級までの級位を得ることが出来ます。
 </p>

 <p>
   オセロの腕前をしっかりと示すことができるのもオセロの魅力の一つと言えるでしょう。
 </p>

 <div class="panel panel-default panel-info">
   <div class="panel-heading">
 <h3>
   まとめ
 </h3>
</div>
</div>

    <%= image_tag "othello1.jpg" , :class => "img-responsive img-thumbnail" %>

    <p class="pic_bottom">
      オセロは『覚えるのに一分、極めるのに一生』と言われるように、簡単にルールを覚えられるのに、戦略は無数にある奥の深いゲームです。
    </p>

    <p>
      また、一人でも楽しめますし、家族や友達と一緒に楽しむことが出来ます。
    </p>

    <p>
      また、ただ遊ぶだけでなく、実力をつけて大会にチャレンジするという目的を持ってみるのも良いかもしれませんね。
   </p>

    <p>
      お手軽に始められるのに、多彩な楽しみ方のできるオセロを、あなたも始めてみませんか？    </p>

</div>
</div>
</div>
</div>
