<% provide(:title, "ロードバイク") %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
  <div class="panel panel-default">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">

  <h1>ロードバイク</h1>

</div>
</div>

  <div class="panel panel-default">
    <div class="panel-body">

    <h3>興味タイプ</h3>
    <h3>RE</h3>

  </div>
  </div>

  <%= image_tag "road_bike1.jpg" , :class => "img-responsive img-thumbnail" %>
<div class="pic_bottom">

  <div class="panel panel-default">
    <div class="panel-body">

  <h3>
    ロードバイクとは？
  </h3>

</div>
</div>
</div>

<p>
最近、クロスバイクやロードバイクに乗っている人をたくさん見かけませんか？
</p>

<p>
現在、スポーツ用自転車はプロのアスリートだけではなく、趣味として幅広い層に広まってきているのです！
</p>

<p>
  ロードバイクは普通の自転車と比べて、ペダルが軽く、加速しやすいため、通常の自転車ではまず出すことのできないスピードで走ることができます。
</p>

<p>
そんなロードバイクに詳しくなってみませんか？
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h3>
  ロードバイクのよいところ
</h3>

</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
普通の自転車との違い
</h2>

</div>
</div>

<p>
  ロードバイクとはロードレース用に開発された軽量な自転車のことです。そのため、自動車道のような舗装された道を高速で走ることに向いています。
</p>

<p>
  ロードバイクは車体がとても軽く、ハンドルが特殊な形をしているため、前傾姿勢で風の抵抗を抑えることができます。また、幅の細いタイヤがつけられているため、路面との摩擦を抑えることができます。
</p>

<p>
  ロードバイクは非常にスピード重視の設計となっています。そのため,ペダルを漕ぎ始めた瞬間から、あっという間にトップスピードで走ることができるのです。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
長い時間漕いでいても疲れにくい
</h2>

</div>
</div>

<p>
  ロードバイクが本来使われているロードレースは非常に長い距離をロードバイクをこぎ続けて高速で走り抜けるスポーツです。
  そのため、ロードバイクは長い距離をこいだり、前傾姿勢で長時間こいでも、疲れにくい構造になっています。
  ですので、疲労を気にすることなく、気軽にロードバイクで遠出を楽しむことができます。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
大会に出場できるかも！？
</h2>

</div>
</div>

<p>
ロードバイクにある程度慣れてきたら、大会に出場してみませんか？ロードバイクは日本のみならず世界中で人気のスポーツですので、全国各地でロードバイクの大会が行われております。
</p>

<p>
普段は車や歩行者に気をつけて走らなければならないロードバイクですが、大会であれば思いっきり走ることができます。ロードバイクの競技の種類はたくさんあるので、ご自分のお好きな大会を選んでみましょう！
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
ダイエットに向いている！
</h2>

</div>
</div>

<p>
ほかの自転車でもそうですが、ロードバイクは足腰の負担が少ない乗り物です。そのため、体に負担をかけないで、運動を楽しむことができます。

また、スポーツや運動が苦手な人でも、ロードバイクは自分のペースでこぐことができますので、安心ですね。


</p>

<p>
  ロードバイクはランニングなどとは違い、長い時間こいでいても、それほど疲れません。
  さらに、ロードバイクで遠いところまで素早く走っていけば、その爽快感から多少の疲れは吹っ飛んでいくでしょう。
</p>

<p>
ですので、通勤、通学、ちょっとしたお買いものにロードバイクを使うだけでダイエットになるんです。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h3>
  ロードバイクの始め方
</h3>

</div>
</div>

<%= image_tag "road_bike3.jpg" , :class => "img-responsive img-thumbnail"%>

<div class="pic_bottom">

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  ロードバイクを購入してみよう
</h2>

</div>
</div>
</div>

<p>
ロードバイクはスポーツ用品店屋や大きな自転車屋さんなどで販売されています。
ロードバイクの値段は高いものになると１００万円を超えるものもありますが、普通の人はメーカーや仕様、素材によって変わりますが、８万円くらいのものから考えてみると良いでしょう。
</p>

<p>
  初心者の方は１０万円くらいのものから初めてみると良いでしょう。ロードバイクにある程度慣れてきたら、もう少し高いロードバイクやカスタムパーツを買ってみるのも良いと思います。
</p>

<div class="panel panel-default">
  <div class="panel-body">

 <h2>
他に必要なものは？
 </h2>

</div>
</div>

 <p>
   ロードバイクがあれば、もうサイクリングに行くことはできますが、安全にサイクリングに行くには、もう少し揃えたほうが良いものもあります。
 </p>
 <p>
   ロードバイクは非常に高速で走ることができるため、点灯したら大怪我に繋がります。
   そのため、ヘルメットをかぶるべきでしょう。
 </p>

 <p>
それ以外にもライトや、反射板などが必要になります。最近では、サイクリングショップが必要なものをセットで販売していることが多いため、それを選びましょう。
  </p>

 <p>
   また、ロードバイクは普通の自転車用空気入れに対応していないことが多いため、ロードバイク用の空気入れが必要です。案外忘れがちですので、忘れずに選んでおきましょう。
 </p>

  <p>
      それ以外にも、ウェアやグローブなど必要なものはありますが、余裕ができたときに購入しましょう。

      必要なものが少し多いなと思うかもしれませんが、自分とロードバイクを守るために最低限必要なものとしてお考えください。
</p>

<div class="panel panel-default">
  <div class="panel-body">

 <h3>
   まとめ
 </h3>

</div>
</div>

 <%= image_tag "road_bike2.jpg" , :class => "img-responsive img-thumbnail" %>

    <p class="pic_bottom">
      どうでしたか？

      ロードバイクでのサイクリングはお金もかかりますが、始めてみると、ロードバイクの速さに驚くことでしょう。

      簡単にロードバイクで遠出できますし、その爽快感も桁違いです！

      そして、ロードバイクで今まで走ったことのない距離を完走できた時の喜びは何者にも例え難いでしょう。
      ぜひ体験してみてください！
    </p>

    <p>

    </p>

    <p>

   </p>

    <p>

    </p>

</div>
</div>
</div>
