<div class="hobby_page">
  <h1>海釣り</h1>
  <p>興味タイプ</p>
  <h3>R</h3>

  <%= image_tag("sea_fishing1.jpg") %>




<p>
  海釣りとは？
</p>

<p>
  2種類の海釣り
</p>

<p>
  海釣りには大きく分けて２つあります。

  ひとつは堤防や磯から釣る海釣りです。サヨリや小鯵、鯖などポイントにより魚種も豊富ですし、好きな時間に行き、好きな時間に帰ることができるので手軽です。一度道具を揃えたらあとは餌代だけで何回も楽しめるというところも魅力の一つですし、一人で簡単に釣りができるという点も良いところでしょう。

  もうひとつは船に乗って陸地から離れて釣りをする海釣りです。船釣りは船長が釣り方をレクチャーしてくれるので下調べなしで釣りを始められます。ソイ、サワラ、ヒラメや真鯛など陸地からでは釣ることができない比較的大きめの魚を狙うことができます。

  どちらの釣りも魚との真剣勝負が楽しめることが人気の秘訣となっています。
</p>

<p>
  海釣りの良いところ
</p>

<p>
  魚とのファイトはスリル満点！
</p>

<p>
  海を眺めているのも楽しいですが、何と言っても釣りの最大の魅力は魚との駆け引きです。糸を垂らしてじっと待つ釣り方だけでなく、餌をちょんちょんと動かして魚を誘う釣り方もあり、戦略の幅はとても広いです。自分で選んだ餌や釣り方で魚が釣れた時の気分は何物にも勝ることはないでしょう。

  魚が餌に食いついた時の竿先がピクピクする時の興奮は、忘れられないほどのドキドキ感を生み出すでしょう。

  自分の戦略がうまく決まり、周りの人は一匹も釣れていないのに自分だけ大漁という状況の気分は最高の一言だけでは言い表せません。
</p>

<p>
  アウトドアでストレス解消
</p>

<p>
  大きな海をただ見ているだけで何となく気分が良くなるものです。潮の香りや波の音に意識を向けていると日常のストレスが波に押し流される気分になることでしょう。目に見える風景はどれも美しく、カメラを持ってくるのもよい楽しみ方の一つです。

  釣りに疲れてきたら、近くの人の釣り方を見に行くのも楽しいことでしょう。のんびりしたり釣りに集中したり、自分のペースで楽しめることが釣りの魅力です。
</p>

<p>
一人でもデートでも家族づれでも楽しめる
</p>

<p>
  一日中楽しめる海釣りは、朝から晩までじっくり遊ぶことができます。

  一人でじっくり釣りを楽しんでもよいですし、海が近くにある人はちょっとだけ釣りをして楽しむというのもよいことでしょう。

  もし友達と予定が合ったなら、大物を狙って船釣りをするのもいいですね。

  友達と釣れた魚や量を競い合うというのもまた楽しみの一つでしょう。

  恋人とのデートにもオススメです。ドライブの途中にちょっと立ち寄って釣りを楽しんでみましょう。アウトドアが趣味の人というのはそれだけで頼りがいがありますし、恋人との思いでづくりに最適です。

  家族で釣りに行くのもおすすめです。お子さんは魚を釣る楽しみだけでなく魚の構造・生態なども学べ、水族館では味わえない自然そのままの体験はとても貴重な経験となるでしょう。
</p>

<p>
  新鮮な魚が食べられる
</p>
<%= image_tag("sea_fishing3.jpg") %>

<p>
  スーパーの魚と比べてみれば、わかりますが、釣りたての魚は目の輝きや体の色が明らかに違うことがわかるでしょう。

  お刺身にしても焼き魚にしてもとてもおいしく、魚が苦手な人やお子様でも喜んで食べてくれます。

  また、運が良ければ、大きい魚や珍しい魚も釣りあげることができ、スーパーで売っていないおいしい魚や、高級料亭にのみ卸されているような高級な魚も釣れることもあるでしょう。
</p>

<p>
  海釣りの始め方
</p>

<p>
  釣り場所はどうすれば？
</p>

<p>
  釣りを始めてみようと思ったなら、まずは経験者に聞いてみるのが一番です。

  周りの経験者がいれば、その人に聞けばよいですし、周りに経験者がいない時は釣具屋さんに聞きましょう。

  釣具屋さんは道具を購入出来るだけでなく、どこのポイントで何が釣れているか、どの餌が良いかなども教えてくれますので、困ったら釣具屋さんに頼ることをおすすめします。
</p>

<p>
  何を用意したらいい？
</p>

<p>
最低限必要な道具は釣り竿とクーラーボックスでしょう。しかし、海にうっかり落ちてしまう人もいるので、ライフジャケットもあると安心です。

釣り竿は竿・リール・仕掛けの３つから構成されています。何を釣るか、どこで釣るかによって必要な種類が変わります。最小のうちは、安い道具を使い、慣れてきたら少しずつ買い足していくとよいでしょう。
クーラーボックスはお魚の鮮度を保つのに必要です。新鮮な魚を食べるために、ぜひ一つは持っておくことをお勧めします。

また、船釣りをする人で船酔いが心配という方は酔い止めを用意しておきましょう。
</p>

<p>
  まとめ
</p>
<%= image_tag("sea_fishing2.jpg") %>

<p>
  青い海を眺めながら行う海釣りは日ごろのストレスを忘れさせてくれますし、魚との真剣勝負は素晴らしい経験となることでしょう。

  魚がたくさん釣れたら、その楽しさからもっと釣りに行きたくなり、魚が全く釣れないときは戦略を組み立てる楽しみが生まれます。

  また、新鮮な魚はとてもおいしいものですし、釣り人や漁師しか食べることができない料理もたくさん存在します。

  性別や年齢を気にすることなく楽しめる海釣りをまずは少しでも体験してみませんか？
</p>
