<% provide(:title, "将棋") %>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
  <div class="panel panel-default">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">
  <h1>将棋</h1>
</div>
</div>

  <div class="panel panel-default">
    <h3>興味タイプ：I</h3>
  </div>

  <%= image_tag "shogi1.jpg" , :class => "img-responsive img-thumbnail" %>

<div class="pic_bottom">
  <div class="panel panel-default panel-info">
    <div class="panel-heading">
  <h3>
    将棋とは？
  </h3>
</div>
</div>
</div>

<p>
  お年寄りや日本の軍師がよくやってそうなゲームというイメージのある将棋ですが、実は若い人でも楽しめるというのは知っていましたか？最近では、若くしてプロになる将士もたくさんいます。このように、年齢に関係なく楽しめるのが将棋の良いところです。
</p>

<p>
  相手の行動を予想して、自分の行動を柔軟かつ戦略的に変えていく必要があるため、
  将棋はとても頭を使うゲームです。
</p>

<p>
  一度思えれば、いつまでも楽しめる将棋の魅力についてご紹介したいと思います。
</p>

  <div class="panel panel-default">
  <h2>
    将棋ってなにをするの？
  </h2>
</div>

<div class="youtube_container">
<iframe width="560" height="315" src="https://www.youtube.com/embed/QBoesBwipp8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>
  将棋は二人で行う対戦ゲームです。お互いに8種類のコマをお互い順番に動かしていきます。最終的に相手の王将を取れば価値というルールです。全体的にチェスと似ているルールですが、チェスと違って、取った相手のコマを自分のものとして使うことができるという違いがあります。
</p>

<p>
こまには　それぞれ違った動きがありますが、それほど種類がないので簡単に覚えられるでしょうし、チェスの経験者であれば、似たような動きをするチェスのコマと置き換えて考えてみればよいでしょう。
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
  将棋の良いところ
</h3>
</div>
</div>

<div class="pic_bottom">
<div class="panel panel-default">
<h2>
集中力・思考力のパワーアップ！
</h2>
</div>
</div>

<%= image_tag "jigsaw_puzzle3.jpg" , :class => "img-responsive img-thumbnail" %>

<p>
  将棋やチェスといったボードゲームの上手い人は頭が良さそうに見えませんか？
</p>

<p>
  将棋は相手の次の手を考えながら、自分のコマを戦略的に動かしていくため、古代から集中力や思考力といった人間の知能を鍛える手段として注目されてきました。テレビや映画で戦略家や武士がよくやっているシーンを見かけませんでしたか？
</p>

<p>
  そのため、将棋を継続的に楽しんでいけば、集中力や思考力といった知能を鍛えることができるのです。
</p>

<div class="panel panel-default">
<h2>
  日本中の人と楽しめる！
</h2>
</div>

<%= image_tag "shogi2.jpg" , :class => "img-responsive img-thumbnail" %>


<p>
日本人で将棋を知らないという人はいるのでしょうか？古代から現代まで広く行われ続けた将棋は他のマイナーなボードゲームと比べて、非常に人気があります。
</p>

<p>
その人気のため、将棋はお年を召した方から子供や若者まで幅広い年齢層の人達に愛されています。
</p>

<p>
また、将棋は多くの人がルールを知っているため、異なる年齢層の人とのコミュニケーションツールとして使うことができます。
</p>

<p>
よくおじいちゃんが孫と一緒に将棋をやっているシーンを映画やドラマなどで見かけませんでしたか？あんな感じのことができるのです！
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
  将棋の始め方
</h3>
</div>
</div>

<div class="panel panel-default">
<h2>
将棋に必要な道具はなに？
</h2>
</div>

<%= image_tag "shogi3.jpg" , :class => "img-responsive img-thumbnail" %>

<p>
  将棋は将棋盤と将棋の駒さえあればいつでもどこでも遊ぶことができます。将棋盤と将棋の駒はおもちゃ屋やデパートなどによく置いていますが、インターネットで買うほうが良いのではないでしょうか？インターネットであれば、普通に買うよりもたいてい安いものが手に入りますし、何より地味に重い将棋盤を家まで持ち運ばなくて良いというメリットがあります。
</p>

<p>
  もし、将棋が好きかどうかわからないから将棋の道具は今は買いたくないという人はインターネット上にある将棋ゲームやアプリなどをやってみると良いでしょう。大抵は無料で遊べますので、そちらを試してみてから将棋の道具を買うことをおすすめします。
</p>

<div class="panel panel-default">
<h2>
ルールを詳しく知りたい
</h2>
</div>

<div class="youtube_container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/x2hFF-CmgoY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>
  全国の書店にいくらでも将棋の解説書があるので、それを読むことをお勧めします。値段も安く、将棋の上達方法もたくさん書いているため、初心者でもすぐに上達できると思います。「一円も出したくない！！」という人は時間に余裕があるときに図書館に行ってみると良いでしょう。将棋はメジャーなボードゲームなので解説書はいくらでもあります。
</p>

<p>
  また、インターネットにも将棋のルールを説明しているサイトをたくさんあるので、そちらを参考にするのもよいと思います。
</p>

<div class="panel panel-default">
<h2>
対戦相手を見つけよう
</h2>
</div>

<p>
  将棋は対戦ゲームなので、一人ではできませんが、日本中のどこにでも将棋のサークルや集まりがあるため、対戦相手についてはそれほど気にしなくてもよいでしょう。
</p>

<p>
  また、インターネットを使えば、いつでも対戦相手を見つけることができますので、自分の生活時間に合わせて将棋を楽しむことができます。
</p>

<div class="panel panel-default">
<h2>
詰将棋をやってみよう
</h2>
</div>

<div class="youtube_container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/6oiYssNImgI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>
詰将棋というのを知っていますか？詰将棋とは将棋のコマを使って行うパズルのようなものです。相手に王手をかけ続けて、相手の王将を取ることができれば価値というゲームです。
将棋は相手の動きを予想して自分の手を動かしていくゲームのため、その訓練になるのです。
スマホのアプリなんかでいくらでも詰将棋ができるので、電車やバスなどの移動時間に軽くやってみてはいかがでしょうか？
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
  まとめ
</h3>
</div>
</div>

<div class="youtube_container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/F2zB4-ElEuU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p class="pic_bottom">
どうでしたか？将棋について詳しくなれたでしょうか？将棋は日本で一二を争う人気のあるボードゲームです。そのため、一度ルールを覚えれば文字通り誰とでも遊ぶことができます。
</p>

<p>
  最近では、将棋の初心者向け教室などもいたるところで開催されていますので、ルールを覚えながら対戦相手も見つけることができます。
</p>

<p>
  自分と異なる年齢層の人との良いコミュニケーションツールにもなりますし、暇な時間にサクッと遊べる詰将棋などもあります。
</p>

<p>
  費用もインターネットを活用すれば、大して大きくないので、まずは気軽に試してみてはいかがでしょうか？
</p>

  </div>
  </div>
  </div>
  </div>
