<% provide(:title, "切手収集") %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
  <div class="panel panel-default">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">

  <h1>切手収集</h1>

</div>
</div>

  <div class="panel panel-default">
    <div class="panel-body">

    <h3>興味タイプ</h3>
    <h3>C</h3>

  </div>
  </div>


  <%= image_tag "stamp_collecting1.jpg" , :class => "img-responsive img-thumbnail" %>

<div class="pic_bottom">

  <div class="panel panel-default">
    <div class="panel-body">

  <h3>
    切手収集とは？
  </h3>

</div>
</div>
</div>

  <div class="panel panel-default">
    <div class="panel-body">

  <h2>
    切手収集とはなにをするの？
  </h2>

</div>
</div>

<p>
  コレクションを趣味にする人はとても多く、人によって何をコレクションにするかは人それぞれですが、おそらく切手をコレクションにする人が最も多いのではないでしょうか？
</p>

<p>
  切手収集とは，未使用・使用済みの切手を収集する趣味です。
</p>

<p>
  希少な切手や、人気のある切手の資産的価値を目的として集めている人もいますが、ほとんどの人は一般的な切手を収集すること自体が目的であり、その切手が発行された時代背景を知ることや、その切手の持つデザイン性や希少価値、一連のシリーズを完成させることに魅力を感じています。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  切手の種類
</h2>

</div>
</div>

<p>
一口に切手収集と言っても、テーマを決めて切手集めをしているコレクターがいますし、様々な切手を幅広く集めているコレクターもいます。そこで、いくつか切手の種類を紹介させていただきます。
</p>

<%= image_tag "stamp_collecting2.jpg" , :class => "img-responsive img-thumbnail" %>


<h2 class="pic_bottom">
  その年の出来事を思い出させてくれる記念切手
</h2>

<p>
  記念切手は、何かしらの行事や出来事を記念して発行されます。
</p>

<p>
  例えばオリンピックが開催されたときにも記念切手が発行ように、当時のことを記録しておく際に便利です。
</p>

<p>
切手が発行された当時のことをインターネットで調べ返してみると面白いかもしれません。
</p>

<h2>
  シリーズで集めると楽しい特殊切手
</h2>

<p>
  切手の中には、季節ごとに発行されるグリーティング切手やある期間に毎年発行される年賀郵便切手のように毎年発行される切手があります。継続的に購入し、切手のデザインや絵柄の変化を楽しむことができます。
</p>

<p>
  ほかには浮世絵、世界遺産などの文化財の紹介などをテーマに発行される特殊切手はシリーズで集めるのがオススメです。
</p>

<p>
すべて集めた時の気分は良いものですし、珍しい切手のシリーズをすべて持っているのであれば、資産的価値が発生することもあります。
</p>

<h2>
  海外の文化を知ることが出来る外国切手
</h2>

<p>
  外国の切手を集める楽しみは、切手を発行した国の様々な情報に触れられることでしょう。
</p>

<p>
  その国で起こった出来事や、スポーツ、名所など様々な事を知ることが出来ます。
</p>

<p>
また、日本の切手とは異なるデザインの切手も多く、様々な国も切手のデザインに触れることができるのも魅力の一つです。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h3>
  切手収集のよいところ
</h3>

</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  切手をインテリアアートとして飾る
</h2>

</div>
</div>

<p>
  切手の中には、凝ったデザインをしているものがたくさんあります。
</p>

<p>
  そのため、コレクターの中にはお気に入りの切手を切手を飾る専用のスタンプフレームなどに入れてインテリアとして飾っている人もいます。
</p>

<p>
  珍しいデザインの切手はお部屋をおしゃれに見せてくれますし、切手を手に入れる費用もお手頃なので、おすすめですね。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  切手から、こんなに沢山のことがわかるんです。
</h2>

</div>
</div>

<p>
  切手の中には、その地方の名所、名物などを図柄にした切手もあります。
</p>

<p>
  郵便局で、これらの切手シートを購入すると、一緒に図柄の説明などが書かれた説明書が配布されます。
</p>

<p>
  切手と説明書を一緒に集めておくと、その切手が発行された地方の様々な情報を知ることができます。
</p>

<p>
  また、災害や大きなイベントが発生した際に発行される寄付金付き切手はその時に起こった災害やオリンピックなどのイベントを記録していますので、その当時のことを思い出すのにも便利でしょう。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  手軽に集められる！
</h2>

</div>
</div>

<p>
  珍しい切手や希少価値のある切手でなければ、切手一枚買うのに必要なお金はそれほど多くありません。
</p>

<p>
  ですので、子供のおこずかいくらいの金額からでも、切手収集を始められます。
</p>

<p>
  また、近くの郵便局で買える切手だけでも種類はかなり豊富です。
</p>

<p>
  この収集のしやすさが切手収集の魅力の一つです。
</p>

<p>
  使用済み切手でもいいから切手を集めたいという人にお勧めなのがキロボックスです。
</p>

<p>
  郵便局などで集めた使用済み切手を1キロ単位でまとめた物が数千円位で発売しています。
</p>

<p>
  これを購入して欲しい切手だけを集めることもできますし、ダブっている切手や必要ではない切手は転売したり他のコレクターと交換したりすることもできます。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h3>
  切手収集の始め方
</h3>

</div>
</div>


<div class="panel panel-default">
  <div class="panel-body">

<h2>
  テーマを決めよう！
</h2>

</div>
</div>

<p>
  いざ切手収集を始めようと思っても、どこから始めればよいのかわからないという人もたくさんいるでしょう。
</p>

<p>
  それならば、まずはテーマを決めて切手を集めてみてはいかがでしょうか。
</p>

<p>
  例えば、海外の切手や日本の切手、あるいは絵柄から動物が描かれたも、植物が描かれたものなど実に様々なテーマが思いつくと思います。
</p>

<p>
  もし、すぐにはテーマが決められないなと思うようでしたら、とりあえず自分が気に入った切手を集めてみましょう。
</p>

<p>
  図分の好きな切手を集めていけば、そのうちテーマが見えてくるでしょう。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  切手収集に必要な道具は？
</h2>

</div>
</div>

<p>
  切手収取に必要な道具は、まずはアルバムなどの収集した切手を納めるためものです。
</p>

<p>
  また切手をそのまま素手で扱うのは小さすぎて難しいので、切手を扱うためのピンセットがあればよいでしょう。
</p>

<p>
  切手のデザインをより詳しく確認するには、ルーペなどのデザイン道具が必要です。
</p>

<p>
  切手保管用のアルバムには様々なタイプがあるので自分のコレクションに合ったタイプのアルバムを選んでみましょう。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  切手についていろいろ知りたい！
</h2>

</div>
</div>

<p>
  切手について、どんな切手があるのか、海外の切手のことや過去に発行された切手などが知りたくなったら切手博物館へ行ってみるのが良いでしょう。
</p>

<p>
  切手に関する様々な文献もそろっていますし、企画展示などの切手に関するイベントなども行われています。
</p>

<p>
  また、切手収集に関するグッズも充実しているので、切手収集に興味を持ったら、まずここへ足を運んでみると良いでしょう。
</p>

<p>
  それ以外にも、インターネットを使って情報収集ができますし、お近くの書店や図書館に切手に関する書籍が置いてあることもあります。
</p>

<p>
  いろいろな情報収集方法があるので、あなたの都合に合わせていろいろと試してみるとよいでしょう。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h3>
  まとめ
</h3>

</div>
</div>

<%= image_tag "stamp_collecting3.jpg" , :class => "img-responsive img-thumbnail" %>

<p class="pic_bottom">
  普段なにげなく使っている切手も、美しい絵柄がデザインされていたり、様々な地域や国のことを知ることができます。
</p>

<p>
  切手収集はお手ごろな価格でありながら、たくさんの種類があり、初心者でも気軽に始められます。
</p>

<p>
  何か趣味を始めてみたいと考えている方は試しに切手収集を始めてみてはいかがでしょうか。
</p>

</div>
</div>
</div>
