<% provide(:title, "小説執筆") %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
  <div class="panel panel-default">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">

  <h1>小説執筆</h1>

</div>
</div>

  <div class="panel panel-default">
    <div class="panel-body">

    <h3>興味タイプ</h3>
    <h3>AI</h3>

  </div>
  </div>

  <%= image_tag "writing1.jpg", :class => "img-responsive img-thumbnail"  %>

<div class="pic_bottom">

  <div class="panel panel-default">
    <div class="panel-body">

  <h3>
    小説執筆とは？
  </h3>

</div>
</div>
</div>

  <div class="panel panel-default">
    <div class="panel-body">

<h2>
  いろいろな小説のジャンル
</h2>

</div>
</div>

<p>
  歴史小説にミステリー、恋愛からファンタジーまで。
</p>

<p>
  小説にはいろいろなジャンルがあります。
</p>

<p>
  100字〜200字ほどの短い文章で作られている短編小説や会話文だけで書かれた物語小説、誰かに宛てた手紙のような内容も小説になり得ます。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  プロになれる人も！
</h2>

</div>
</div>

<p>
  出版社への公募や持ち込みなどを行い、プロの小説家になる人もいます。
</p>

<p>
  普段は仕事を続けて、趣味として小説を書きながら、自分の書いているものに合った公募を見つけたら参加するという活動方法もあり、そのような方法で本当のプロになった人も多数います。
</p>

<p>
  最近では小説投稿サイトなどで評判を得て、プロになる小説家も多く、昔よりも小説家になりやすい時代になったといえます。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h3>
  小説執筆の良いところ
</h3>

</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  自分だけの物語を作ることができる
</h2>

</div>
</div>

<p>
  小説の執筆は完成するまでに長い時間がかかるため、すぐに手に取れる形にはなりません。
</p>

<p>
  しかし、書けば書くほど自分の考えた物語が進んでいく喜びが感じられます。
</p>

<p>
  以前に書いたものと比べてより面白いものが書けたと感じられた時、自分が大きく成長できたことによる達成感を感じることができるでしょう。
</p>

<p>
  また、完成した小説を手元に置いておけば、後から読み返して、昔のことを思い返してみたり、思い出に浸るなどの日記帳のように使うこともできます。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  時間や場所に関係なく続けられる
</h2>

</div>
</div>

<p>
  昔から、小説執筆は紙とペンさえあればいつでもどこでも書くことができました。
</p>

<p>
  現代では、スマートフォンやノートパソコンを持ち歩いていれば、紙やペンすら持ち歩くことなく、より執筆活動のしやすい時代であるといえるでしょう。
</p>

<p>
  場所を取る道具などは必要なく、空いた時間に書いたり考えたりできるので、仕事や子育てで忙しい人でも気軽に楽しめる趣味です。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  ファンや小説家と交流ができる
</h2>

</div>
</div>

<p>
  自分の小説が執筆できるようになると、多くの人に見てもらいたくなるものです。
</p>

<p>
  小説投稿サイトに自分の作品を登録すると、自分が書いたものを読んでもらったり、他の人の作品に感想を送るなどのファン同士や小説家同士の交流の機会をたくさん持つことができます。
</p>

<p>
  人の目に触れて感想をもらえることでやる気も出てきて、文章力や描写力なども鍛えられます。
</p>

<p>
  自分の作った作品の感想や応援のメッセージをファンからもらえた時の感動は、クリエーターでなければ味わえない最高の経験の一つでしょう。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h3>
  小説執筆の始め方
</h3>

</div>
</div>

<%= image_tag "writing3.jpg", :class => "img-responsive img-thumbnail"  %>

<div class="pic_bottom">
<div class="panel panel-default">
  <div class="panel-body">

<h2>
  好きな小説家の真似をしよう
</h2>

</div>
</div>
</div>


<p>
  いざ小説を書こうとしても、なかなか書き始めることができないのではないでしょうか？
</p>

<p>
  なぜなら、そもそもどのように小説を書けばいいのかわからないからです。
</p>

<p>
  ですので、最初はあなたが好きな小説家の文章をまねして書いてみるとよいでしょう。
</p>

<p>
  もちろん自分の作品として公表してはいけませんが、プロの小説家の文章を自分の手で書くことで、小説を書く際に必要となる基本を楽しく学ぶことができます。

  <div class="panel panel-default">
    <div class="panel-body">

  <h2>
    好きなことを書いてみよう
  </h2>

</div>
</div>

<p>
  まずはほかの人の意見に左右されずに自分の好きなことを書いてみましょう。
</p>

  <p>
    ファンタジーでも、歴史小説でも恋愛ものでも、自分が書いてみたいと持ったことをそのまま文章として書き出して、小説を作り上げていきます。
  </p>

  <p>
    初めから完璧に小説を書き上げることよりも不完全でもいいから小説を完成させるほうがより執筆活動の良い経験となるでしょう。
  </p>

  <p>
    執筆活動でわからないことが出てきたら、その都度インターネットなどで調べれば良いのです。
  </p>

  <div class="panel panel-default">
    <div class="panel-body">

  <h2>
    必要な道具について
  </h2>

</div>
</div>

<p>
  先ほども言ったように、パソコンやスマートホン、ノートと筆記用具などのように文字を書くことができる道具があれば、いつでもどこでも執筆ができます。
</p>

<p>
  しかし、国語辞典のような言葉を調べる道具があれば、書きたい言葉がわからないときに役に立ちます。
</p>

<p>
  歴史小説やファンタジー小説のように専門的な知識や資料が必要になった時は、図書館に行って本を借りてくるのもおすすめします。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h2>
  作品が完成したら発表しよう！
</h2>

</div>
</div>

<p>
  作品を発表する方法として、出版社の公募に作品を送り、出版社に本として発表してもらうという方法もありますが、インターネットを使えば、より簡単に小説を投稿して、他の人に見てもらうことができます。
</p>

<p>
  また、出版社に本にしてもらう方法では、出版社次第では、完成した小説を本にしてもらえないという可能性がありますが、インターネットにある無料の小説投稿サイトを使えば、自分の小説を確実に投稿できます。
</p>

<p>
  無料で登録できる小説投稿サイトがたくさんあるので、自分の性格に合っているところを探してみるのもよいでしょう。
</p>

<div class="panel panel-default">
  <div class="panel-body">

<h3>
  まとめ
</h3>

</div>
</div>

  <%= image_tag "writing2.jpg", :class => "img-responsive img-thumbnail"  %>

  <p class="pic_bottom">
    どのような人でも、お気に入りの小説や物語があるものです。
  </p>

  <p>
    面白い小説を読むことで、心が豊かで、自由になっていきます。
  </p>

  <p>
    最初は難しいと考えていた小説執筆もいざ書き始めてみると、その楽しさや自由さに気が付くかもしれません。
  </p>

  <p>
  どこかリラックスできるところでパソコンやノートを使って、自分だけの世界を作ってみるのはいかがでしょうか。
</p>

</div>
</div>
</div>
