<% provide(:title, "About") %>
<h1>私たちについて</h1>
<p>
  こんにちは！
</p>
<p>
  私たちは、多くの人が趣味を通じて、自分らしい生き方を見つけ、その生き方を発展させるのを助けるために、このウェブサイトを始めました。
<p>
  <p>
    このウェブサイトは、自分に合った新しい趣味を発見し、始め方を学び、成長していきながら、ほかの人の経験や意見を教諭していくための場所です。
  </p>
  趣味ごとに、あなたの役に立つ説明と始め方のタブがあります。
</p>
<p>
  1．あなたが興味を持った趣味の説明タブ
</p>
<p>
  2．あなたが興味を持った趣味の始め方タブ
</p>

  趣味探しを始めるには、あなたが気になった趣味の記事をクリックしてみてください。

  それでは、あなたが興味を持った趣味を見つける旅を楽しんでください！
</p>
