<% provide(:title, "お問い合わせ") %>
<div class="panel panel-default">
<h3>お問い合わせ</h3>
</div>

<div class="panel panel-default">
  <div class="panel-body">

    <p>
      私たちはあなたが趣味探しを楽しんでいただければとても嬉しく思います。もしお時間があれば、以下のトピックについてEメールをお送りください。
      <p>
        1．サイトの改善方法についてフィードバックをお寄せください。
      </p>
      <p>
        2．私たちにかけている趣味についてお教えください。
      </p>
      <p>
        3．あなたが考えるこのウェブサイトに足りないと思うことについてお教えください。
      </p>
      申し訳ございませんが、必ずしもEメールに返信できるとは限りませんので、あらかじめご了承ください。
    </p>
  </div>
</div>
