<% provide(:title, "Home") %>

<p>
  新しい趣味を見つけたいとお考えですか？
  <p>
    ここでは、新しい趣味の説明や始め方などを見つけることができます。さらにあなたの性格に合った趣味を教えてくれる診断テストもご用意しています。
  </p>
</p>
<p>
  私たちはあなたが本当に楽しめるものを見つけるために、様々な趣味を試してみることをお勧めしています。
</p>
<p>
  それでは、お好みの趣味をクリックして、趣味探しを始めましょう！
</p>
