<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
    <h2>こちらの趣味診断では、あなたの興味・関心からあなたにおすすめの趣味を診断します</h2>
    <p><%= link_to "趣味診断に進む", check_path, class: "btn btn-lg btn-primary" %></p>
    </div>
  </div>
  </div>
  </div>
  </div>
