<div class="container">
  <div class="row">
    <div class="col-md-7 col-xs-12 col-sm-12">
  <div class="panel panel-default">
    <div class="panel-body">
  <p>新しい趣味を見つけたいとお考えですか？</p>
    <p>ここでは、新しい趣味の説明や始め方などを見つけることができます。</p>
    <p>さらにあなたの性格に合った趣味を教えてくれる診断テストもご用意しています。</p>
  <p>私たちはあなたが本当に楽しめるものを見つけるために、様々な趣味を試してみることをお勧めしています。</p>
  <p>それでは、お好みの趣味をクリックして、趣味探しを始めましょう！</p>
</div>
</div>
  <div class="panel panel-default">
    <div class="panel-heading">
    <h2>初めての方はこちらの趣味診断を行うことをおすすめします。</h2>
    <p>こちらの趣味診断では、あなたの興味・関心からあなたにおすすめの趣味を診断します</p>
    <p>質問内容は全部で36問あり、すべての質問に答えることで、あなたが興味を持ちそうな分野の趣味を診断します。</p>
    <p><%= link_to "趣味診断に進む", check_path, class: "btn btn-lg btn-primary" %></p>
    </div>
  </div>
  </div>
  </div>
  </div>
