<% provide(:title, "趣味まとめ") %>
<div class="container-fluid">
  <div class="row">
<div class="col-md-12">

<div class="panel panel-default">
  <div class="panel-body">

<h3>ジャンル別趣味まとめ</h3>

</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

<p>
どんな趣味があるのかわからない！
</p>

<p>
そんなことを考えたことはありませんか？
</p>

<p>
  こちらにジャンル分けした趣味のまとめを用意してあります。
</p>

<p>
  ビビッとしたものがありましたら、気軽にクリックしてみてください。
</p>

</div>
</div>
</div>
</div>
</div>
