<% provide(:title, "コレクションの趣味一覧") %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
<div class="panel panel-default">
  <div class="panel-body">

<h3>コレクションの趣味一覧</h3>

</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

<p>
欲しいものが増えていく喜びやレアな一品に見つけた時の感動。
</p>

<p>
  同じ趣味を持つ友達に自慢してもよいですし、一人でゆっくり喜びを味わうというのもよいでしょう。
</p>

<p>
  ほしいものを手に入れる瞬間だけでなく、手に入れる過程も楽しめるコレクションの趣味一覧です。
</p>

    <ul class="nav navbar-nav">

      <li class="sports_background">
        <%= link_to hobby_pages_stamp_collecting_path  do %>
        <%= image_tag "stamp_collecting1.jpg", size: "219x185" %>
      <p class="titl">
        切手収集
      </p>
      <p class="titl">
        C
      </p>
      </li>
<% end %>

      <li class="sports_background">
        <%= link_to hobby_pages_beach_combing_path  do %>
        <%= image_tag "beach_combing2.jpg", size: "219x185" %>
      <p class="titl">
        ビーチコーミング
      </p>
      <p class="titl">
        CR
      </p>
      </li>
<% end %>

    </ul>
  </div>
</div>
    </div>
  </div>
</div>
