<% provide(:title, 'グルメ・料理の趣味一覧') %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
<div class="panel panel-default">
  <div class="panel-body">

<h3>グルメ・料理の趣味一覧</h3>

</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

<p>
  おいしいものを食べると、お腹だけでなく心も満たされますよね！
</p>

<p>
  料理を食べるのもよいですが、自分で作ってみるのもいかがですか？
</p>

<p>
おいしい料理をみんなで食べると、おいしさが倍増する気がします。
</p>

<p>
  見て、作って、味わって、幸せの味を感じることができる、グルメ・料理の趣味一覧です。
</p>

    <ul class="nav navbar-nav">

      <li class="sports_background">
        <%= link_to hobby_pages_jam_making_path  do %>
        <%= image_tag "jam2.jpg", size: "219x185" %>
      <p class="titl">
        ジャム作り
      </p>
      <p class="titl">
        ARC
      </p>
      </li>
<% end %>

    </ul>
</div>
</div>
</div>
</div>
</div>
