<h2>動物・植物の趣味一覧</h2>

<p>
かわいい動物や植物に囲まれていると、とても癒されますよね！
</p>

<p>
動物や植物の生命力は私たちに驚きを与えてくれます。
</p>

<p>
  動物や植物に関する動物・植物の趣味一覧です。
</p>



<div class="container">

  <nav class="border">
    <ul class="nav navbar-nav">

      <li class="sports_background">
        <%= link_to hobby_pages_aquarium_visiting_path  do %>
        <%= image_tag "aquarium_visiting1.jpg", size: "219x185" %>
      <p class="titl">
        水族館めぐり
      </p>
      <p class="titl">
        IR
      </p>
      </li>
<% end %>


    </ul>
  </nav>
</div>
