<% provide(:title, '健康・ライフスタイルの趣味一覧') %>
<div class="container">
  <div class="row">
    <div class="col-md-7 col-xs-12 col-sm-12">
<div class="panel panel-default">
<h3>ライフスタイルの趣味一覧</h3>
</div>

<div class="panel panel-default">
  <div class="panel-body">

<p>
  できれば毎日健康に暮らしたいですよね。
</p>

<p>
  ゆったりとリラックスしたり、運動して身体を引き締めたり。
</p>

<p>
  そんな毎日をちょっとだけ楽しくしてくれるようなライフスタイルの趣味の一覧です。
</p>

    <ul class="nav navbar-nav">

      <li class="sports_background">
        <%= link_to hobby_pages_meditation_path  do %>
        <%= image_tag "meditation3.jpg", :class => "picture_size" %>
      <p class="titl">
        瞑想
      </p>
      <p class="titl">
        I
      </p>
      </li>
<% end %>

    </ul>

</div>
</div>
</div>
</div>
</div>
