<h2>健康・ライフスタイルの趣味一覧</h2>

<p>
  できれば毎日健康に暮らしたいですよね。
</p>

<p>
  ゆったりとリラックスしたり、運動して身体を引き締めたり。
</p>

<p>
  そんな毎日をちょっとだけ楽しくしてくれるような健康・ライフスタイルの趣味の一覧です。
</p>



<div class="container">

  <nav class="border">
    <ul class="nav navbar-nav">

      <li class="sports_background">
        <%= link_to hobby_pages_meditation_path  do %>
        <%= image_tag "meditation3.jpg", size: "219x185" %>
      <p class="titl">
        瞑想
      </p>
      <p class="titl">
        R
      </p>
      </li>
<% end %>


    </ul>
  </nav>
</div>
