<% provide(:title, "音楽の趣味一覧") %>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
<div class="panel panel-default">
<h3>音楽の趣味一覧</h3>
</div>

<div class="panel panel-default">
  <div class="panel-body">
<p>
  電子機器の発達で、ますます多くの人が音楽を楽しめるようになりました。
</p>
<p>
  美しい音楽は、心と身体に心地よい刺激や感動を与えてくれます。
</p>
<p>
お気に入りの音楽を聴いてリラックスするというのは、誰もが一度はしたことがあるでしょう。
</p>
<p>
  また、楽器や歌を練習して友達や観客に披露すると、人に聴いてもらう喜びも生まれますよ。
</p>
<p>
才能と運があれば、プロとして活躍できるかもしれません。
</p>
<p>
  そんな様々なメリットのある音楽の趣味一覧です。
</p>

    <ul class="nav navbar-nav">

<li class="sports_background">
  <%= link_to hobby_pages_classical_misic_concert_path  do %>
  <%= image_tag "classical_misic_concert3.jpg", :class => "picture_size" %>
<p class="titl">
  クラシック演奏会
</p>
<p class="titl">
  AS
</p>
</li>
<% end %>

    </ul>

</div>
</div>
</div>
</div>
</div>
