<% provide(:title, "スポーツの趣味一覧") %>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
<div class="panel panel-default">
<h3>スポーツの趣味一覧</h3>
</div>

<div class="panel panel-default">
  <div class="panel-body">

<p>野球やサッカーのように世界には、たくさんのスポーツがあります。
</p>

<p>個人で楽しめるスポーツもありますし、友達や家族で楽しめるスポーツもあります。
</p>

<p>続けていくうちに身体が鍛えられて健康にもなる、そんなスポーツの趣味一覧です。</p>

    <ul class="nav navbar-nav">

      <li class="sports_background">
        <%= link_to hobby_pages_road_bike_path  do %>
        <%= image_tag "road_bike1.jpg", :class => "picture_size" %>
      <p class="titl">
        ロードバイク
      </p>
      <p class="titl">
        RE
      </p>
      </li>
      <% end %>

      <li class="sports_background">
        <%= link_to hobby_pages_archery_path  do %>
        <%= image_tag "archery2.jpg", :class => "picture_size" %>
      <p class="titl">
        アーチェリー
      </p>
      <p class="titl">
        RC
      </p>
      </li>
      <% end %>

    </ul>
</div>
</div>
</div>
</div>
</div>
