<% provide(:title, "知識・スキルの趣味一覧") %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
<div class="panel panel-default">
  <div class="panel-body">

<h3>知識・スキルの趣味一覧</h3>

</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

<p>
  ついついテレビのクイズ番組などを見てしまいませんか？
</p>

<p>
知らないことや新しいことを知るのは楽しいですよね！
</p>

<p>
知識・スキルを磨けば、資格取得や給料アップつながりますし、人生を豊かにしてくれます。
</p>

<p>
  そんな楽しいだけではなく役にも立つ知識・スキルの趣味一覧です。
</p>

    <ul class="nav navbar-nav">

      <li class="sports_background">
        <%= link_to hobby_pages_astronomy_path  do %>
        <%= image_tag "astronomy2.jpg", size: "219x185" %>
      <p class="titl">
        天体観測
      </p>
      <p class="titl">
        IAR
      </p>
      </li>
<% end %>

<li class="sports_background">
  <%= link_to hobby_pages_aquarium_visiting_path  do %>
  <%= image_tag "aquarium_visiting1.jpg", size: "219x185" %>
<p class="titl">
  水族館めぐり
</p>
<p class="titl">
  RI
</p>
</li>
<% end %>

    </ul>
</div>
</div>
</div>
</div>
</div>
