@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@media screen and (max-width:480px) {
  body{
    padding-top: 20%;
  }.nav > li > a {
    position: relative;
    display: inline-block;
    padding: 0px;
  }.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
}img.picture_size{
  width: 128px;
  height: 128px;
}.navbar-nav{
  margin: 0 auto;
  table-layout: fixed;
  float: none;
  text-align: center;
  > li {
    display: inline-block;
}p {
  font-size: 110%;
}  .youtube_container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    padding-top: 30px; height:  0; overflow: hidden;
    margin-bottom: 10px; height:  0; overflow: hidden;
    } iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }

}
}

@media screen and (max-width:800px) {
  body{
    padding-top: 10%;
  }.nav > li > a {
    position: relative;
    display: block;
    padding: 0px;
  }.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
}img.picture_size{
  width: 218px;
  height: 218px;
}
p {
  font-size: 110%;
}  .youtube_container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    padding-top: 30px; height:  0; overflow: hidden;
    margin-bottom: 10px; height:  0; overflow: hidden;
    } iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }

}

img.pickup_size{
  width: 30%;
  height: 30%;
}

@media screen and (min-width:1024px) {
  body{
    padding-top: 5%;
  }
  img.picture_size{
    width: 180px;
    height: 180px;
  }
  .nav > li > a {
    position: relative;
    display: block;
    padding: 0px;
  }.navbar-nav{
    margin: 0 auto;
    table-layout: fixed;
    float: none;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
  }.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
}
p{
  font-size: 140%;
}.pickup_text{
  font-size: 120%;
}.youtube_container {
  position: relative;
  width: 100%;
  padding-bottom: 30%;
  padding-top: 30px; height:  0; overflow: hidden;
  margin-bottom: 10px; height:  0; overflow: hidden;
  }
  }
  }



/* universal */

body {
  text-align: center;
    width: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.riasec_list {
  padding-top: 30px;
}

ul {
  list-style: none;
}

.sports {
  background: #337ab7;
  margin: 0 0 0 0;
  color: #FFFFCC;
  font-weight: bolder;
}

.titl {
  margin: 0 0 0 0;
  font-weight: bold;
}

.sports_background {
  border: 5px hidden;
}

.pic_bottom {
  margin: 20px 0 10px 0;
}

#navbar {
  li{
    padding: 10px 10px 10px 10px;
  }
}

.panel{
  padding-left: 5px;
  padding-right: 5px;
}

.quote {
  background-color: #fafafa;
  border: 1px solid #fff;
  padding: 1em 1em 1em 1em;
  clear: both;
  margin: 1em 0;
}

 .img-thumbnail {
   margin-bottom: 5px;
 }

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 190%;
  margin: 10px;
  text-align: center;
}

h2 {
  font-size: 130%;
  text-align: center;
  font-weight: normal;
}

h3 {
  font-size: 140%;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 110%;
}


p {
  line-height: 180%;
}

td {
  font-size: 110%;
  position: relative;
}

th {
  text-align:center;
}

table {
  width:100%;
  table-layout: fixed;
  word-break: break-all;
  word-wrap:break-word;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 0px;
  float: left;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

header {
    width: 100%;
  ul {
    font-size: 1.3em;
  }
  }

/* footer */

footer {
    width: 100%;
  margin-top: 45px;
  padding-top: 5px;
  margin-bottom: 45px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
