<% provide(:title, "EIC") %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
<div class="panel panel-default">
  <div class="panel-body">
<h3> あなたの興味タイプは</h3>
<h3 class="riasec_page">EIC</h3>
<h3> です</h3>

</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

<h2>こちらにあなたにおすすめの趣味をまとめてありますので、ご覧ください！</h2>

      <ul class="nav navbar-nav">

        </ul>
    </nav>
</div>
</div>
</div>
</div>
</div>
