<% provide(:title, "SEC") %>
<div class="container">
  <div class="row">
    <div class="col-md-7 col-xs-12 col-sm-12">
<div class="panel panel-default">
<h3> あなたの興味タイプは</h3>
<h3>SEC</h3>
<h3> です</h3>
</div>

<div class="panel panel-default">
  <div class="panel-body">

<h2>こちらにあなたにおすすめの趣味をまとめてありますので、ご覧ください！</h2>

      <ul class="nav navbar-nav">

        <li class="sports_background">
          <%= link_to hobby_pages_blood_donation_path  do %>
          <%= image_tag "blood_donation4.jpg", :class => "picture_size" %>
        <p class="titl">
          献血
        </p>
        <p class="titl">
          S
        </p>
        <p class="titl">
          ！グッドマッチ！
        </p>
        </li>
        <% end %>

    <li class="sports_background">
      <%= link_to hobby_pages_classical_misic_concert_path  do %>
      <%= image_tag "classical_misic_concert3.jpg", :class => "picture_size" %>
    <p class="titl">
      クラシック演奏会
    </p>
    <p class="titl">
      AS
    </p>
    <p class="titl">
      ！マッチ！
    </p>
    </li>
    <% end %>

        </ul>
    </nav>
</div>
</div>
</div>
</div>
</div>
