<div class="container">
  <div class="row">
<div class="col-md-12 col-xs-12 col-sm-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <ul class="nav navbar-nav">

        <li class="sports_background">
          <%= link_to pick_ups_indoor_path  do %>
          <%= image_tag "indoor.jpg", :class => "pickup_size"  %>
        <p class="titl pickup_text">
          インドアの人におすすめの趣味５選！
        </p>
  <% end %>
  </ul>
    </div>
  </div>
</div>
</div>
</div>
